{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter
  - paginate: {Object}

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical', paginate: paginate %}
{% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="facets-container">
  <menu-drawer
    class="mobile-facets__wrapper container"
    data-breakpoint="desktop"
  >
    <details class="group mobile-facets__disclosure disclosure-has-popup col-span-full py-1">
      <summary class="mobile-facets__open-wrapper focus-offset flex justify-between items-center cursor-pointer mb-0 group-open:mb-2 transition-spacing ease-linear duration-100">
        <span class="mobile-facets__open text-md leading-[1.7rem] -tracking-[.02em] first-line:font-serif first-line:-tracking-[.05em] uppercase">
          Refine<br>
          Selection
        </span>
        <span id="ProductCount" class="hidden">
          {%- if results.results_count -%}
            {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
          {%- elsif results.products_count == results.all_products_count -%}
            {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
          {%- else -%}
            {{
              'products.facets.product_count'
              | t: product_count: results.products_count, count: results.all_products_count
            }}
          {%- endif -%}
        </span>
        <button class="icon-plus-minus" type="button"></button>
      </summary>
      <facet-filters-form>
        <form id="FacetFiltersFormMobile" class="mobile-facets">
          <div class="mobile-facets__inner gradient">
            <div class="mobile-facets__main grid grid-cols-3 grid-rows-2 gap-1 lg:grid-cols-8 lg:grid-rows-none lg:gap-x-2 lg:gap-y-0">
              {%- if enable_filtering -%}
                {%- for filter in results.filters -%}
                  {% case filter.type %}
                    {% when 'boolean', 'list' %}
                      {%- liquid
                        if filter.label == 'Region'
                          assign class = 'cols-pan-1 row-span-2 lg:col-span-3'
                        elsif filter.label == 'Drinks'
                          assign class = 'hidden lg:block col-span-1 row-span-1'
                        else
                          assign class = 'col-span-1 row-span-1'
                        endif
                      -%}
                      <div
                        id="Details-Mobile-{{ forloop.index }}-{{ section.id }}"
                        class="mobile-facets__details js-filter {{ class }}"
                        data-index="mobile-{{ forloop.index }}"
                      >
                        <h4 class="text-[1.4rem] leading-[1.7rem] -tracking-[.02em] uppercase text-[color:var(--text-disable,_#C5C5C5)] pb-.5">
                          {{ filter.label | escape }}
                        </h4>
                        <div
                          id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                          class="mobile-facets__submenu pl-1 "
                        >
                          <ul class="mobile-facets__list list-unstyled" role="list">
                            {%- for value in filter.values -%}
                              <li class="mobile-facets__item list-menu__item mb-[.2rem]">
                                <label
                                  for="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                  class="mobile-facets__label text-[1.4rem] leading-[1.7rem] -tracking-[.02em{% if value.count == 0 and value.active == false %} mobile-facets__label--disabled{% endif %}"
                                >
                                  <input
                                    class="mobile-facets__checkbox hidden peer"
                                    type="checkbox"
                                    name="{{ value.param_name }}"
                                    value="{{ value.value }}"
                                    id="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                    {% if value.active %}
                                      checked
                                    {% endif %}
                                    {% if value.count == 0 and value.active == false %}
                                      disabled
                                    {% endif %}
                                  >
                                  <span class="mobile-facets__highlight"></span>

                                  <span
                                    aria-hidden="true"
                                    class="underline-offset-4 text-[color:var(--text-disable,_#C5C5C5)] peer-checked:underline peer-checked:text-[color:var(--filter-colot,_#151515)]"
                                  >
                                    {{- value.label | escape -}}
                                  </span>
                                  <span class="visually-hidden">
                                    {{- value.label | escape }} (
                                    {%- if value.count == '1' -%}
                                      {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                    {%- else -%}
                                      {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                    {%- endif -%}
                                    )</span
                                  >
                                </label>
                              </li>
                            {%- endfor -%}
                          </ul>
                          <div class="no-js-hidden mobile-facets__footer gradient hidden">
                            <facet-remove class="mobile-facets__clear-wrapper">
                              <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear underlined-link">
                                {{- 'products.facets.clear' | t -}}
                              </a>
                            </facet-remove>
                            <button
                              type="button"
                              class="no-js-hidden button button--primary"
                              onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                            >
                              {{ 'products.facets.apply' | t }}
                            </button>
                            <noscript
                              ><button class="button button--primary">
                                {{ 'products.facets.apply' | t }}
                              </button></noscript
                            >
                          </div>
                        </div>
                      </div>
                  {% endcase %}
                {%- endfor -%}
              {%- endif -%}
              <div
                class="mobile-facets__details js-filter"
                data-index="mobile-{{ forloop.index }}"
              >
                <div class="mobile-facets__sort">
                  <h4 class="text-[1.4rem] leading-[1.7rem] -tracking-[.02em] uppercase text-[color:var(--text-disable,_#C5C5C5)] pb-.5">
                    price
                  </h4>
                  <div
                    id="FacetMobile-Price-{{ section.id }}"
                    class="mobile-facets__submenu pl-1 "
                  >
                    <ul>
                      <li>
                        <label
                          for="Filter-price-ascending-mobile"
                          class="mobile-facets__label text-[1.4rem] leading-[1.7rem] -tracking-[.02em"
                        >
                          <input
                            class="mobile-facets__checkbox hidden peer"
                            type="radio"
                            name="sort_by"
                            value="price-ascending"
                            id="Filter-price-ascending-mobile"
                          >
                          <span
                            aria-hidden="true"
                            class="
                              underline-offset-4 text-[color:var(--text-disable,_#C5C5C5)]
                              peer-checked:underline peer-checked:text-[color:var(--filter-colot,_#151515)]
                            "
                            >Lowest to highest</span
                          >
                        </label>
                      </li>
                      <li>
                        <label
                          for="Filter-price-descending-mobile"
                          class="mobile-facets__label text-[1.4rem] leading-[1.7rem] -tracking-[.02em"
                        >
                          <input
                            class="mobile-facets__checkbox hidden peer"
                            type="radio"
                            name="sort_by"
                            value="price-descending"
                            id="Filter-price-descending-mobile"
                          >
                          <span
                            aria-hidden="true"
                            class="
                              underline-offset-4 text-[color:var(--text-disable,_#C5C5C5)]
                              peer-checked:underline peer-checked:text-[color:var(--filter-colot,_#151515)]
                            "
                            >Highest to lowest</span
                          >
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-facets__footer flex justify-end mt-5">
              <facet-remove class="mobile-facets__clear-wrapper">
                <a
                  href="{{ results_url }}"
                  class="mobile-facets__clear underlined-link text-sm uppercase text-[color:var(--text-disable,_#C5C5C5)]"
                >
                  {{- 'products.facets.clear_all' | t -}}
                </a>
              </facet-remove>
              <noscript
                ><button class="button button--primary">{{ 'products.facets.apply' | t }}</button></noscript
              >
            </div>

            {% if results.current_vendor or results.current_type %}
              <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
            {% endif %}

            {%- if results.terms -%}
              <input type="hidden" name="q" value="{{ results.terms | escape }}">
              <input name="options[prefix]" type="hidden" value="last">
            {%- endif -%}
          </div>
        </form>
      </facet-filters-form>
    </details>
  </menu-drawer>
</div>
