{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

{% comment %}
  {%- style -%}
    header-drawer {
      --color: #fffef7;
      --bg: #022541;
      --btn-color: #022541;
      --btn-bg: #fffef7;
    }
  {%- endstyle -%}
{% endcomment %}

<header-drawer data-breakpoint="desktop">
  <details
    id="Details-menu-drawer-container"
    class="menu-drawer-container h-full"
  >
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset text-xs lg:text-base lg:leading-[1.9rem] font-sans flex items-center uppercase h-full relative"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span class="menu"> menu </span>
    </summary>
    <div
      id="menu-drawer"
      class="fixed top-0 left-0 w-full h-full z-50 color-{{ section.settings.drawer_color_scheme }}"
    >
      <div class="container py-[1.4rem] lg:py-[.9rem]">
        <div class="col-span-4 flex items-center gap-2">
          <button class="header__icon header__icon--menu header__icon--summary link focus-inset text-xs lg:text-base font-sans flex items-center uppercase h-full">
            Close
          </button>
        </div>
        <div class="col-span-2 flex items-center justify-center">
          {%- liquid
            if section.settings.logo_type == 'primary'
              assign logo = settings.logo
              assign logo_mobile = settings.logo_mobile
            elsif section.settings.logo_type == 'secondary'
              assign logo = settings.secondary_logo
              assign logo_mobile = settings.secondary_logo_mobile
            endif

            if logo_mobile == blank
              assign logo_mobile = logo
            endif

            assign height = 230 | divided_by: logo.aspect_ratio
            assign alt = logo.alt | default: shop.name
            assign height_mobile = 68 | divided_by: logo_mobile.aspect_ratio
            assign alt_mobile = logo_mobile.alt | default: shop.name
          -%}
          {%- if logo != blank -%}
            {{
              logo
              | image_url: width: 230
              | image_tag: class: 'hidden lg:block', height: height, width: 1440, alt: alt, preload: true
            }}
            {{
              logo_mobile
              | image_url: width: 68
              | image_tag: class: 'lg:hidden', height: height_mobile, width: 68, alt: alt_mobile, preload: true
            }}
          {%- endif -%}
        </div>
        <div class="col-span-4 flex items-center justify-center"></div>
      </div>
      <div class="container min-h-[calc(100%_-_51px)] lg:min-h-[calc(100%_-_40px)]">
        <div class="col-span-full overflow-auto ps-1 lg:ps-2 pt-5 pb-10 flex flex-col gap-3">
          <nav>
            <ul class="flex flex-col list-none m-0 p-0">
              {%- for link in section.settings['drawer-menu'].links -%}
                <li>
                  <a
                    href="{{ link.url }}"
                    class="font-serif big-text leading-[3.36rem] -tracking-[.05em] lg:text-2xl lg:leading-[5.2rem] lg:-tracking-[.04em] uppercase drawer-link"
                  >
                    {{- link.title -}}
                  </a>
                  {%- if link.links != blank -%}
                    <ul class="list-none m-0 ps-1 lg:ps-4 flex flex-col">
                      {%- for childlink in link.links -%}
                        <li>
                          <a
                            href="{{ childlink.url }}"
                            class="font-sans big-text leading-[3.34rem] lg:text-2xl lg:leading-[4.8rem] lg:-tracking-[.02em] uppercase drawer-link"
                          >
                            {{- childlink.title -}}
                          </a>
                          {%- if childlink.links != blank -%}
                            <ul class="list-none m-0 ps-1 lg:ps-4 flex flex-col">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a
                                    href="{{ grandchildlink.url }}"
                                    class="font-serif big-text leading-[3.36rem] -tracking-[.05em] lg:text-2xl lg:leading-[4.8rem] lg:-tracking-[.04em] uppercase pb-.5 drawer-link"
                                  >
                                    {{- grandchildlink.title -}}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="mt-auto">
            <h3 class="text-md uppercase -tracking-[.02em]">JOIN THE LIST</h3>
            {%- render 'inline-newsletter-form', id: 'contactMenudrawer' -%}
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
