<div class="{{ column_class }}">
  <div class="">
    {%- liquid
      assign image = block.settings.image
      assign mobile_image = block.settings.mobile_image
      if mobile_image == blank
        assign mobile_image = image
      endif
    -%}
    {%- if image != blank -%}
      {%- assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' -%}
      {%- capture sizes -%}
              (min-width: 1440px) {{ 1440 | minus: 40 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
            {%- endcapture -%}
      {{
        image
        | image_url: width: 1920
        | image_tag: loading: 'lazy', class: 'hidden lg:block rounded-2xl', sizes: sizes, widths: widths
      }}
      {{
        mobile_image
        | image_url: width: 1024
        | image_tag: loading: 'lazy', class: 'lg:hidden mobile-image  rounded-2xl', sizes: sizes, widths: widths
      }}
    {%- else -%}
      {%- assign placeholder = 'detailed-apparel-' | append: forloop.index -%}
      {{ placeholder | placeholder_svg_tag: 'placeholder-svg max-w-full' }}
    {%- endif -%}
  </div>
  <div>
    {%- if block.settings.title != blank -%}
      <h2 class="font-sans text-base">{{ block.settings.title }}</h2>
    {%- endif -%}
    <div class="">
      {%- if block.settings.text != blank -%}
        <p class="font-serif">{{ block.settings.text }}</p>
      {%- endif -%}
      {%- if block.settings.link_text != blank -%}
        <a href="{{ block.settings.link_url }}" class="btn-link">
          {{- block.settings.link_text -}}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>
