{%- liquid
  assign image = block.settings.image
  assign mobile_image = block.settings.mobile_image
  if mobile_image == blank
    assign mobile_image = image
  endif
  assign title = block.settings.title
  assign text = block.settings.text
  assign icon = settings.logo_mobile
-%}
{% capture inline_icon %}
  {{- icon | image_url: width: 38 | image_tag: loading: 'lazy', class: 'hidden lg:inline-block -mt-[.2rem]' -}}
  {{- icon | image_url: width: 30 | image_tag: loading: 'lazy', class: 'inline-block lg:hidden -mt-[.2rem]' -}}
{% endcapture %}
{%- if icon != blank and text contains '%icon%' %}
  {% assign text = text | replace: '%icon%', inline_icon %}
{% endif %}

<div class="{{ column_class }}">
  <div class="pb-1">
    {%- if image != blank -%}
      {%- assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' -%}
      {%- capture sizes -%}
              (min-width: 1440px) {{ 1440 | minus: 40 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
            {%- endcapture -%}
      {{
        image
        | image_url: width: 1920
        | image_tag: loading: 'lazy', class: 'hidden lg:block rounded-2xl', sizes: sizes, widths: widths
      }}
      {{
        mobile_image
        | image_url: width: 1024
        | image_tag: loading: 'lazy', class: 'lg:hidden mobile-image  rounded-2xl', sizes: sizes, widths: widths
      }}
    {%- else -%}
      {%- assign placeholder = 'detailed-apparel-' | append: forloop.index -%}
      {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg w-full max-w-full rounded-2xl' }}
    {%- endif -%}
  </div>
  <div class="px-1 lg:px-2 grid {{ container_class }}">
    {%- if title != blank -%}
      <h2 class="{{ title_class }} text-base -tracking-[.02em]">{{ title }}</h2>
    {%- endif -%}
    <div class="{{ content_class }}">
      {%- if text != blank -%}
        <p class="font-serif pb-.5">{{ text }}</p>
      {%- endif -%}
      {%- if block.settings.button_text != blank -%}
        {%- render 'btn-link',
          text: block.settings.button_text,
          url: block.settings.button_url,
          class: ' items-center'
        -%}
      {%- endif -%}
    </div>
  </div>
</div>
