{% assign form_id = 'contact_form--' | append: id %}
{% form 'customer', class: 'newsletter-form', id: form_id %}
  <input type="hidden" name="contact[tags]" value="newsletter">
  <div class="flex flex-wrap justify-center gap-2">
    <div class="fild w-full">
      <input
        id="NewsletterForm--{{ id }}"
        type="email"
        name="contact[email]"
        class="grow default-input"
        value="{{ form.email }}"
        aria-required="true"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        {% if form.errors %}
          autofocus
          aria-invalid="true"
          aria-describedby="Newsletter-error--{{ id }}"
        {% elsif form.posted_successfully? %}
          aria-describedby="Newsletter-success--{{ id }}"
        {% endif %}
        placeholder="{{ 'newsletter.label' | t }}"
        required
      >
      {%- if form.errors -%}
        <small class="form__message form__message--error" id="Newsletter-error--{{ id }}">
          {{- form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email -}}
        </small>
      {%- endif -%}
      {%- if form.posted_successfully? -%}
        <h3
          class="form__message form__message--success"
          id="Newsletter-success--{{ id }}"
          tabindex="-1"
          {% if autofocus == true %}
            autofocus
          {% endif %}
        >
          {{- 'newsletter.success' | t }}
        </h3>
      {%- endif -%}
    </div>
    <button
      type="submit"
      class="btn-medium btn-secondary"
      name="commit"
      id="Subscribe--{{ id }}"
      aria-label="{{ 'newsletter.button_label' | t }}"
    >
      sign up
    </button>
  </div>
{% endform %}
