<script src="{{ 'text-block-component.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign title = section.settings.title
  assign show_mobile_image = section.settings.show_mobile_image
-%}

{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="col-span-full section-padding border-t border-color grid grid-cols-10 gap-x-1 lg:gap-x-2">
      <div class="col-span-full grid grid-cols-10 gap-x-1 lg:gap-x-2 gap-y-[2.5rem]">
        <h2 class="lg:ps-2 col-span-full lg:col-span-4 big-text text-center lg:text-2xl lg:text-left uppercase">
          {{ title }}
        </h2>
        <div class="col-span-full lg:col-span-6 grid grid-cols-6 gap-x-1 gap-y-5 lg:gap-x-2 lg:gap-y-3">
          {%- for block in section.blocks -%}
            <text-block
              class="group/textblock col-span-full lg:col-span-3 grid grid-cols-10 gap-x-1 gap-y-2 auto-rows-min lg:cursor-pointer"
              style="--left: 0px; --top: 0px;"
            >
              <h4 class="text-block-title col-span-3 lg:col-span-full{% if show_mobile_image %} hidden lg:block{% endif %}">
                {{ block.settings.title }}
              </h4>
              {%- if show_mobile_image and block.settings.image != blank -%}
                <div class="col-span-3 rounded-lg overflow-hidden aspect-square lg:hidden">
                  {%- assign widths = '375, 550' -%}
                  {%- capture sizes -%}
                                    (min-width: 1440px) {{ 1440 | minus: 40 | divided_by: 2 }}px,
                                    (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
                                  {%- endcapture -%}
                  {{
                    block.settings.image
                    | image_url: width: 300, height: 300
                    | image_tag: loading: 'lazy', class: 'object-cover object-center', sizes: sizes, widths: widths
                  }}
                </div>
              {%- endif -%}
              <div class="col-span-7 lg:col-span-full{% if show_mobile_image %} flex flex-col gap-1 ps-1{% endif %} relative">
                {%- if show_mobile_image -%}
                  <h4 class="text-base leading-[2.6rem] lg:hidden">
                    {{ block.settings.title }}
                  </h4>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="text-block-text">
                    {{ block.settings.text }}
                  </div>
                {%- endif -%}
                {%- if block.settings.image != blank -%}
                  <div class="hidden lg:block invisible [&.show]:lg:visible w-[22rem] h-[30rem] absolute text-block-image pointer-events-none top-[var(--top,_0px)] left-[var(--left,_0px)] rounded-lg overflow-hidden z-10">
                    {%- assign widths = '375, 550' -%}
                    {%- capture sizes -%}
                                    (min-width: 1440px) {{ 1440 | minus: 40 | divided_by: 2 }}px,
                                    (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
                                  {%- endcapture -%}
                    {{
                      block.settings.image
                      | image_url: width: 220, height: 300
                      | image_tag: loading: 'lazy', class: 'object-cover object-center', sizes: sizes, widths: widths
                    }}
                  </div>
                {%- endif -%}
              </div>
            </text-block>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About text blocks",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "blocks": [
    {
      "type": "textblock",
      "name": "Textblock",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "WEBSHOP"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Members are not tied into any fixed term and once purchased, the subscription amount you have selected will be billed on the 1st of every month ongoing and dispatched around the 15th.</p><p>Should you wish to pause or cancel your subscription please ensure this has been communicated before the 1st of the next month as we are unable to refund once the order has been placed.</p><p>If you do wish to make any changes to your membership, including address changes, please email us at hello@drinkmfb.com so we can make the changes to your account.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "WHAT WE DO"
    },
    {
      "type": "checkbox",
      "id": "show_mobile_image",
      "label": "Show image on mobile",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-2"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 45
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 65
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 150
    }
  ],
  "presets": [
    {
      "name": "About text blocks"
    }
  ]
}
{% endschema %}
