{%- if section.settings.enable_agecheck -%}
  <script src="{{ 'age-check.js' | asset_url }}" defer="async"></script>

  {%- liquid
    assign text = section.settings.text
    assign refuse_title = section.settings.refuse_title
    assign refuse_text = section.settings.refuse_text
    assign popup_days = section.settings.popup_days
    if section.settings.logo_type == 'primary'
      assign logo = settings.logo
      assign logo_mobile = settings.logo_mobile
    elsif section.settings.logo_type == 'secondary'
      assign logo = settings.secondary_logo
      assign logo_mobile = settings.secondary_logo_mobile
    endif
    if logo_mobile == blank
      assign logo_mobile = logo
    endif
    assign height = 832 | divided_by: logo.aspect_ratio
    assign alt = logo.alt | default: shop.name
    assign height_mobile = 277 | divided_by: logo_mobile.aspect_ratio
    assign alt_mobile = logo_mobile.alt | default: shop.name
  -%}
  <age-verification
    class="fixed inset-0 z-20 block aria-hidden:hidden"
    data-id="{{ section.id }}"
    aria-hidden="true"
    data-frequency="{{ popup_days }}"
  >
    <div class="container h-full py-4 lg:pt-7 lg:pb-1 color-{{ section.settings.color_scheme }}">
      <div class="col-span-full h-full grid grid-rows-[auto,1fr] gap-3">
        {%- if logo != blank -%}
          <div class="text-center mx-auto">
            {{
              logo
              | image_url: width: 832
              | image_tag: class: 'hidden lg:block', height: height, width: 832, alt: alt, preload: true
            }}
            {{
              logo_mobile
              | image_url: width: 277
              | image_tag: class: 'lg:hidden', height: height_mobile, width: 277, alt: alt_mobile, preload: true
            }}
          </div>
        {%- endif -%}
        <div class="flex flex-col justify-center gap-y-9 lg:gap-y-4">
          {%- if text != blank -%}
            <div
              id="messageText"
              class="font-serif w-full max-w-[78rem] mx-auto text-center big-text lg:text-3xl -tracking-[.05em]"
            >
              {{ text }}
            </div>
          {%- endif -%}
          {%- if refuse_text != blank or refuse_title != blank -%}
            <div
              id="refuseText"
              class="w-full max-w-[78rem] mx-auto hidden"
            >
              {%- if refuse_title != blank -%}
                <h3 class="font-serif text-center big-text lg:text-3xl -tracking-[.05em] mb-1">{{ refuse_title }}</h3>
              {%- endif -%}
              {%- if refuse_text != blank -%}
                <p class="mb-0 text-center max-w-[45rem] mx-auto">{{ refuse_text }}</p>
              {%- endif -%}
            </div>
          {%- endif -%}
          <div id="btnContainer" class="w-full max-w-[55rem] mx-auto flex flex-wrap justify-center gap-2">
            <button
              id="accept"
              class="
                btn-primary
                btn-big
                min-w-[26.2rem]
              "
            >
              yes
            </button>
            <button
              id="refuse"
              class="
                btn-primary
                btn-big
                min-w-[26.2rem]
              "
            >
              no
            </button>
          </div>
        </div>
      </div>
    </div>
  </age-verification>
{%- endif -%}

{% schema %}
{
  "name": "Age check",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_agecheck",
      "label": "Enable age check",
      "default": true
    },
    {
      "type": "range",
      "id": "popup_days",
      "label": "Frequency",
      "default": 7,
      "info": "Number of days before a dismissed popup reappears",
      "min": 2,
      "max": 30,
      "step": 1,
      "unit": "day"
    },
    {
      "type": "select",
      "id": "logo_type",
      "label": "Logo type",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "secondary"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text",
      "default": "Please confirm you are 21 years of age or older."
    },
    {
      "type": "header",
      "content": "Refuse content"
    },
    {
      "type": "text",
      "id": "refuse_title",
      "label": "Refuse text",
      "default": "Access forbidden!"
    },
    {
      "type": "textarea",
      "id": "refuse_text",
      "label": "Refuse text",
      "default": "Your access is restricted because of your age. Please come back when you are 21 years of age!"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "inverse"
    }
  ]
}
{% endschema %}
