{%- liquid
  assign show = true
  if section.settings.show_home_only == true
    if request.page_type == 'index'
      assign show = true
    else
      assign show = false
    endif
  endif
-%}
{%- if show -%}
  {%- style -%}
    #shopify-section-{{ section.id }} {
      --bg: #022541;
      --color: #FFFEF7;
    }
  {%- endstyle -%}
  <div
    class="utility-bar py-[.822rem] bg-[color:var(--bg,_#022541)] text-[color:var(--color,_#FFFEF7)]"
    {{ block.shopify_attributes }}
  >
    {%- if section.blocks.size == 1 -%}
      <div
        class="announcement-bar px-1 text-center"
        role="region"
        aria-label="{{ 'sections.header.announcement' | t }}"
        {{ block.shopify_attributes }}
      >
        {%- if section.blocks.first.settings.text != blank -%}
          {%- if section.blocks.first.settings.link != blank -%}
            <a
              href="{{ section.blocks.first.settings.link }}"
              class="announcement-bar__link link link--text focus-inset"
            >
          {%- endif -%}
          <p class="announcement-bar__messag text-base -tracking-[.02em] uppercase">
            <span>{{ section.blocks.first.settings.text | escape }}</span>
          </p>
          {%- if section.blocks.first.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- elsif section.blocks.size > 1 -%}
      <script src="{{ 'marquee-component.js' | asset_url }}" defer="defer"></script>
      <marquee-component
        class="announcement-bar"
        role="region"
        aria-roledescription="{{ 'sections.announcements.carousel' | t }}"
        aria-label="{{ 'sections.announcements.announcement_bar' | t }}"
      >
        <section class="splide">
          <div class="splide__track">
            <ul class="splide__list ">
              {%- for block in section.blocks -%}
                <li
                  class="splide__slide group"
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                  {{ block.shopify_attributes }}
                  role="group"
                  aria-roledescription="{{ 'sections.announcements.announcement' | t }}"
                  aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                  tabindex="-1"
                >
                  <div
                    class="announcement-bar__announcement"
                    role="region"
                    aria-label="{{ 'sections.header.announcement' | t }}"
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.text != blank -%}
                      {%- if block.settings.link != blank -%}
                        <a
                          href="{{ block.settings.link }}"
                          class="announcement-bar__link link link--text focus-inset"
                        >
                      {%- endif -%}
                      <p class="announcement-bar__message text-base -tracking-[.02em] group-even:font-serif group-even::-tracking-[.05em] uppercase">
                        <span>{{ block.settings.text | escape }}</span>
                      </p>
                      {%- if block.settings.link != blank -%}
                        </a>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </section>
      </marquee-component>
      {%- if request.design_mode -%}
        <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_home_only",
      "default": false,
      "label": "t:sections.announcement-bar.settings.show_home_only.label"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
