{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

<div class="address-list color-{{ section.settings.color_scheme }} px-1 lg:px-2">
  <div class="border-t border-color section-padding">
    <div class="container">
      <h2 class="col-span-3 lg:col-span-2 text-xs leading-[1.6rem] lg:text-base lg:leading-[2.2rem] uppercase">
        {{ section.settings.title }}
      </h2>
      <div class="col-span-7 lg:col-span-6 font-serif text-xl leading-[2.6rem] -tracking-[.05em] indent-7 lg:text-2xl lg:leading-[5.2rem] lg:indent-[14rem]">
        {{ section.settings.text }}
      </div>
      {%- if section.settings.btn_text != blank -%}
        <div class="col-span-full mt-[1.5rem] lg:mt-4 flex justify-center">
          <a class="btn btn-secondary" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
        </div>
      {%- endif -%}
      {%- if section.settings.image != blank -%}
        <div class="col-span-full max-w-[28.2rem] lg:max-w-[43.2rem] mx-auto mt-2 lg:mt-4 rounded-md overflow-hidden">
          {{ section.settings.image | image_url: width: '600' | image_tag: loading: 'lazy', width: '600' }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Contact",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "OUR STOCKISTS:"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Get in touch to find out how you can stock our wines and spirits. Straight from the source to your customers."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "default": "GET IN TOUCH"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button url"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 70
    }
  ],
  "presets": [
    {
      "name": "Contact"
    }
  ]
}
{%- endschema -%}
