{% comment %}theme-check-disable UndefinedObject{% endcomment %}

{%- style -%}
  #shopify-section-{{ section.id }} {
    --color: #151515;
    --bg: #FFFEF7;
    --section-divider: #C5C5C5;

    --btn-color: #FFFEF7;
    --btn-bg: #151515;
    --input-border: #151515;
    --input-color: #151515;
    --input-bg: transparent;
  }
{%- endstyle -%}

<footer class="footer  pt-2 pb-6 border-t border-[color:var(--section-divider)] color-[color:var(--color)] bg-[color:var(--bg)]">
  <div class="container lg:container">
    {%- if settings.footer_brand_image != blank -%}
      <div class="col-span-full">
        {%- assign brand_image_height = settings.footer_brand_image_width
          | divided_by: settings.footer_brand_image.aspect_ratio
        -%}
        <div
          class="footer-block__image-wrapper mx-auto"
          style="max-width: min(100%, {{ settings.footer_brand_image_width }}px);"
        >
          {{
            settings.footer_brand_image
            | image_url: width: 1100
            | image_tag:
              loading: 'lazy',
              class: 'min-w-[15.8rem]',
              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
              height: brand_image_height,
              width: settings.brand_image_width
          }}
        </div>
      </div>
    {%- endif -%}
    {%- liquid
      assign size = section.blocks.size
      assign col = 'grid-cols-1'
      if size == 5
        assign col = 'grid-cols-2 lg:grid-cols-10'
      elsif size == 4
        assign col = 'grid-cols-2 lg:grid-cols-4'
      elsif size == 3
        assign col = 'grid-cols-2 lg:grid-cols-9'
      elsif size == 2
        assign col = 'grid-cols-2'
      endif
    -%}
    <div class="col-span-full pt-3 gap-1 xl:gap-x-2 xl:gap-y-1 grid {{ col }}">
      {%- for block in section.blocks -%}
        {%- liquid
          assign col_class = 'col-span-full'
          if size == 5
            if block.type == 'newsletter'
              assign col_class = 'col-span-full lg:col-span-2'
            else
              assign col_class = 'col-span-1 lg:col-span-2'
            endif
          elsif size == 4
            if block.type == 'newsletter'
              assign col_class = 'col-span-full'
            else
              assign col_class = 'col-span-1 lg:col-span-2'
            endif
          elsif size == 3
            if block.type == 'newsletter'
              assign col_class = 'col-span-full lg:col-span-3'
            else
              assign col_class = 'col-span-1  lg:col-span-3'
            endif
          elsif size == 2
            if block.type == 'newsletter'
              assign col_class = 'col-span-full'
            else
              assign col_class = 'col-span-full'
            endif
          endif
        -%}
        <div class="{{ col_class }} mb-[1.5rem] lg:mb-0">
          <h3 class="text-md uppercase mb-.5">{{ block.settings.title }}</h3>
          {%- case block.type -%}
            {%- when 'address' -%}
              <address class="font-sans text-xs lg:text-md not-italic ps-2">{{ block.settings.address }}</address>
            {%- when 'link_list' -%}
              <ul role="list" class="flex flex-col gap-[.3rem] ps-2">
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a class="font-sans text-xs lg:text-md" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- when 'contact' -%}
              <div class="font-sans text-xs lg:text-md ps-2">{{ block.settings.subtext }}</div>
            {%- when 'social' -%}
              {%- render 'social-icons', class: 'ps-2' -%}
            {%- when 'newsletter' -%}
              {%- render 'inline-newsletter-form', id: 'contactFooter' -%}
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
    <div class="col-span-full ">
      <div class="grid justify-items-center">
        <small class="font-sans text-[1rem] leading-[1.6rem] tracking-[-.2px]">
          {{- 'All right reserved MF&B' | link_to: routes.root_url -}}
        </small>
        {%- if section.settings.bottom_menu.links.size > 0 -%}
          <ul role="list" class="flex flex-col">
            {%- for link in section.settings.bottom_menu.links -%}
              <li class="font-sans text-[1rem] leading-[1.6rem] tracking-[-.2px]">
                <a class="underline" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        <small class="font-sans text-[1rem] leading-[1.6rem] tracking-[-.2px] pt-1">Site Credit</small>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "address",
      "name": "t:sections.footer.blocks.address.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "default": "BASED IN",
          "label": "t:sections.footer.blocks.address.settings.heading.label"
        },
        {
          "type": "textarea",
          "id": "address",
          "default": "Washington, D.C. &<br> Paris, France",
          "label": "t:sections.footer.blocks.address.settings.subtext.label"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "default": "MENU",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "contact",
      "name": "t:sections.footer.blocks.contact.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "default": "SAY HELLO",
          "label": "t:sections.footer.blocks.contact.settings.heading.label"
        },
        {
          "type": "html",
          "id": "subtext",
          "default": "<a href=\"mailto:hello@drinkmfb.com\">hello@drinkmfb.com</a>",
          "label": "t:sections.footer.blocks.contact.settings.subtext.label"
        }
      ]
    },
    {
      "type": "social",
      "name": "t:sections.footer.blocks.social.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "default": "FOLLOW US",
          "label": "t:sections.footer.blocks.social.settings.heading.label"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.social.settings.heading.info"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.footer.blocks.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "default": "JOIN THE LIST",
          "label": "t:sections.footer.blocks.newsletter.settings.heading.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "link_list",
      "id": "bottom_menu",
      "label": "t:sections.footer.settings.bottom_menu.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "address"
      },
      {
        "type": "link_list"
      },
      {
        "type": "contact"
      },
      {
        "type": "social"
      },
      {
        "type": "newsletter"
      }
    ]
  }
}
{% endschema %}
