{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}
<div class="image-with-text-columns section-padding color-{{ section.settings.color_scheme }}">
  <div class="container gap-y-4 lg:gap-y-2">
    {%- liquid
      for block in section.blocks
        if forloop.index == 1 and section.blocks.size == 2
          render 'image-with-text-card', column_class: 'col-span-full lg:col-span-6', container_class: 'grid-cols-6', title_class: 'col-span-2', content_class: 'col-span-4', block: block
        elsif forloop.index == 2 and section.blocks.size == 2
          render 'image-with-text-card', column_class: 'col-span-full lg:col-span-4', container_class: 'grid-cols-6 xl:grid-cols-4', title_class: 'col-span-2', content_class: 'col-span-4 xl:col-span-2', block: block
        else
          render 'image-with-text-card', column_class: 'col-span-full', container_class: 'grid-cols-10', title_class: 'col-span-4', content_class: 'col-span-6', block: block
        endif
      endfor
    -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text-columns.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 2,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-2"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 35
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "image_with_text",
      "name": "t:sections.image-with-text-columns.blocks.image-with-text-column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-with-text-columns.blocks.image-with-text-column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.image-with-text-columns.blocks.image-with-text-column.settings.image_mobile.label"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "t:sections.image-with-text-columns.blocks.image-with-text-column.settings.title.label",
          "default": "NOTES FROM THE ROAD"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "t:sections.image-with-text-columns.blocks.image-with-text-column.settings.text.label",
          "default": "Lorem ipsum dolor sit amet consectetur. Massa sapien congue amet at. Massa sapien ut et ipsum volutpat eros. Elementum ultrices proin amet a in odio."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.image-with-text-columns.blocks.image-with-text-column.settings.button_text.label",
          "default": "Follow our journey"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "t:sections.image-with-text-columns.blocks.image-with-text-column.settings.button_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text-columns.presets.name"
    }
  ]
}
{% endschema %}
