{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}
{%- liquid
  assign text = section.settings.text
  if section.settings.logo_type == 'primary'
    assign icon = settings.logo_mobile
  elsif section.settings.logo_type == 'secondary'
    assign icon = settings.secondary_logo_mobile
  endif
-%}

{% capture inline_icon %}
  {{- icon | image_url: width: 155 | image_tag: loading: 'lazy', class: 'hidden lg:inline-block -mt-[2.9rem]' -}}
  {{- icon | image_url: width: 105 | image_tag: loading: 'lazy', class: 'hidden md:inline-block lg:hidden -mt-[1.7rem]' -}}
  {{- icon | image_url: width: 79 | image_tag: loading: 'lazy', class: 'inline-block md:hidden -mt-[1.4rem]' -}}
{% endcapture %}
{%- if icon != blank and text contains '%icon%' -%}
  {%- assign text = text | replace: '%icon%', inline_icon -%}
{%- endif -%}

<div class="image-with-text section-padding color-{{ section.settings.color_scheme }}">
  <div class="container items-center">
    <div class="col-span-full lg:col-span-5 order-last lg:order-last">
      {%- liquid
        assign image = section.settings.image
        assign mobile_image = section.settings.mobile_image
        if mobile_image == blank
          assign mobile_image = image
        endif
      -%}
      {%- if image != blank -%}
        {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
        {%- capture sizes -%}
        (min-width: 1440px) {{ 1440 | minus: 40 | divided_by: 2 }}px,
        (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
      {%- endcapture -%}
        {{
          image
          | image_url: width: 1920
          | image_tag: loading: 'lazy', class: 'hidden lg:block rounded-2xl h-full', sizes: sizes, widths: widths
        }}
        {{
          mobile_image
          | image_url: width: 1920
          | image_tag: loading: 'lazy', class: 'lg:hidden mobile-image rounded-2xl', sizes: sizes, widths: widths
        }}
      {%- else -%}
        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg max-w-full' }}
      {%- endif -%}
    </div>
    <div class="col-span-full lg:col-span-5 pt-2 lg:pt-[3.8rem] pb-[1.5rem] order-first lg:order-last lg:ps-2">
      {%- if text != blank -%}
        <div class="image-with-text-text font-sans big-text md:text-2xl xl:text-3xl xl:tracking-[-3.1px]">
          {{ text }}
        </div>
      {%- endif -%}
      {%- if section.settings.link_text != blank -%}
        {%- render 'btn-link',
          text: section.settings.link_text,
          url: section.settings.link_text,
          class: ' hidden lg:flex items-center mt-[2.5rem]'
        -%}
      {%- endif -%}
      {%- if section.settings.btn_text_1 != blank or section.settings.btn_text_1 != blank -%}
        <div class="flex flex-wrap gap-1 lg:gap-2 mt-[2.6rem] lg:mt-6">
          {%- if section.settings.btn_text_1 != blank -%}
            <a href="{{ section.settings.btn_url_1 }}" class="btn btn-primary">{{ section.settings.btn_text_1 }}</a>
          {%- endif -%}
          {%- if section.settings.btn_text_2 != blank -%}
            <a href="{{ section.settings.btn_url_2 }}" class="btn btn-primary">{{ section.settings.btn_text_2 }}</a>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.image-with-text.settings.mobile_image.label"
    },
    {
      "type": "select",
      "id": "logo_type",
      "label": "Logo type",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "secondary"
    },
    {
      "type": "html",
      "id": "text",
      "default": "<span>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</span>",
      "label": "t:sections.image-with-text.settings.text.label"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "t:sections.image-with-text.settings.link_text.label",
      "default": "Learn more about us"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.image-with-text.settings.link_url.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.button_header_1.label"
    },
    {
      "type": "text",
      "id": "btn_text_1",
      "label": "t:sections.image-with-text.settings.btn_text_1.label",
      "default": "SHOP WINES"
    },
    {
      "type": "url",
      "id": "btn_url_1",
      "label": "t:sections.image-with-text.settings.btn_url_1.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.button_header_2.label"
    },
    {
      "type": "text",
      "id": "btn_text_2",
      "label": "t:sections.image-with-text.settings.btn_text_2.label",
      "default": "SHOP SPIRITS"
    },
    {
      "type": "url",
      "id": "btn_url_2",
      "label": "t:sections.image-with-text.settings.btn_url_2.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name"
    }
  ]
}
{% endschema %}
