<section
  id="MainProduct-{{ section.id }}"
  data-section="{{ section.id }}"
>
  {% comment %} {{ 'section-main-product.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {% comment %} {{ 'component-accordion.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {% comment %} {{ 'component-price.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {% comment %} {{ 'component-slider.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {% comment %} {{ 'component-rating.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {% comment %}
    {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
    {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
  {% endcomment %}
  {% comment %}
    {%- if product.quantity_price_breaks_configured? -%}
      {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
    {%- endif -%}
  {% endcomment %}

  {%- style -%}
    #shopify-section-{{ section.id }} {
      --color: #151515;
      --bg: #FFFEF7;
    }
  {%- endstyle -%}

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- if product.quantity_price_breaks_configured? -%}
    <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% comment %}
    {% if section.settings.image_zoom == 'hover' %}
      <script id="EnableZoomOnHover-main" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
    {% endif %}
  {% endcomment %}
  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
  {%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link
      id="ModelViewerStyle"
      rel="stylesheet"
      href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      media="print"
      onload="this.media='all'"
    >
    <link
      id="ModelViewerOverride"
      rel="stylesheet"
      href="{{ 'component-model-viewer-ui.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
  {%- endif -%}

  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
  {%- capture sizes -%}
    (min-width: 1440px) {{ 1440 | minus: 40 | times: 0.65 | divided_by: 3 | round }}px, (min-width:1024px) calc({{0.65 | times: 100 | divided_by: 2 }}vw - 4rem), calc(100vw / 1 - 2rem)
  {%- endcapture -%}
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  {% assign vendor = section.blocks | where: 'type', 'vendor' | first %}

  <div class="sticky-act-section text-[color:var(--sticky-color,_#FFFEF7)] bg-[color:var(--sticky--bg,_#022541)]">
    <div class="container py-1 lg:py-2">
      <div class="col-span-full grid grid-cols-2 lg:grid-cols-3 items-center">
        <div class="lg:hidden col-span-1 flex flex-col gap-.5">
          <div class="">
            {%- if vendor.settings.url != blank -%}
              <a
                href="{{ vendor.settings.url }}"
                class="text-[1.4rem] leading-[1.5rem] -tracking-[.02em] uppercase"
              >
                {{- vendor.settings.text -}}
              </a>
            {%- else -%}
              <p
                class="text-[1.4rem] leading-[1.5rem] uppercase"
              >
                {{- vendor.settings.text -}}
              </p>
            {%- endif -%}
          </div>
          <div class="font-serif text-[1.4rem] leading-[1.5rem] -tracking-[.05em] ">
            {{ product.title | escape }}
          </div>
          <div class="text-[1.4rem] leading-[1.5rem] -tracking-[.02em] ">
            {%- render 'price', product: product, use_variant: true -%}
          </div>
        </div>
        <div class="col-span-1 hidden lg:block font-serif text-xl -tracking-[.05em] ">
          {{ product.title | escape }}
        </div>
        <div class="col-span-1 hidden lg:block text-center">
          {%- if vendor.settings.url != blank -%}
            <a
              href="{{ vendor.settings.url }}"
              class="text-xl -tracking-[.02em] uppercase"
            >
              {{- vendor.settings.text -}}
            </a>
          {%- else -%}
            <p
              class="text-xl -tracking-[.02em] uppercase"
            >
              {{- vendor.settings.text -}}
            </p>
          {%- endif -%}
        </div>

        <div class="col-span-1 flex items-center justify-end gap-4">
          <div class="hidden lg:block text-xl -tracking-[.02em]">
            {%- render 'price', product: product, use_variant: true -%}
          </div>
          <div class="product-form__buttons  flex flex-col gap-2">
            <button
              id="ProductSubmitButton-template--21188300275992__main"
              type="submit"
              name="add"
              class="product-form__submit button button--full-width product-sticky-btn"
              aria-haspopup="dialog"
              form="{{ product_form_id }}"
            >
              <span>Add to cart </span>
              <div class="group loading-overlay--spinner hidden group-[]:">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  class="spinner"
                  viewBox="0 0 66 66"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product{% if product.media.size == 0 %} product--no-media{% endif %} border-b text-[color:var(--color,_#151515)] bg-[color:var(--bg,_#FFFEF7)] border-[color:var(--divider-color,_#DCDCDC)]">
    <div class="container gap-x-2 lg:gap-x-4 pt-1 pb-6 lg:pt-4 lg:pb-2">
      <div class="col-span-full lg:col-span-4 product__media-wrapper">
        <div class="product__media media media--transparent">
          {{
            product.featured_image
            | image_url: width: 1946
            | image_tag:
              loading: lazy,
              sizes: sizes,
              widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
          }}
        </div>
        {%- comment -%}
          {% render 'product-media-gallery', variant_images: variant_images %}
        {%- endcomment -%}
      </div>
      <div class="product__info-wrapper col-span-full lg:col-span-6 grid grid-cols-6 gap-x-2 lg:gap-x-4">
        <div class="col-span-full xl:col-span-4">
          <product-info
            id="ProductInfo-{{ section.id }}"
            data-section="{{ section.id }}"
            data-url="{{ product.url }}"
            class="product__info-container px-1 lg:px-0 flex flex-col"
          >
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'vendor' -%}
                  {%- assign page_url = pages[block.settings.page].url -%}
                  <div class="" {{ block.shopify_attributes }}>
                    {%- if page_url != blank -%}
                      <a
                        href="{{ page_url }}"
                        class="big-text leading-[3.6rem] lg:text-2xl lg:leading-[4.5rem] -tracking-[.02em] uppercase"
                      >
                        {{- block.settings.text -}}
                      </a>
                    {%- else -%}
                      <p
                        class="big-text leading-[3.6rem] lg:text-2xl lg:leading-[4.5rem] -tracking-[.02em] uppercase"
                      >
                        {{- block.settings.text -}}
                      </p>
                    {%- endif -%}
                  </div>

                {%- when 'title' -%}
                  <div class="product__title" {{ block.shopify_attributes }}>
                    <h1 class="font-serif big-text leading-[3.6rem] lg:text-2xl lg:leading-[4.5rem] -tracking-[.02em] uppercase">
                      {{ product.title | escape }}
                    </h1>
                    <a href="{{ product.url }}" class="product__title hidden">
                      <h2 class="h1">
                        {{ product.title | escape }}
                      </h2>
                    </a>
                  </div>
                {%- when 'price' -%}
                  <div
                    class="no-js-hidden"
                    id="price-{{ section.id }}"
                    role="status"
                    {{ block.shopify_attributes }}
                  >
                    <div class="flex items-center text-[2.2rem] leading-[5.6rem] -tracking-[.02em] lg:pt-[2.5rem] whitespace-nowrap">
                      {%- render 'price', product: product, use_variant: true -%}
                      ,
                      {%- liquid
                        assign meta = product.metafields.custom
                        assign color = meta.colour
                        assign size = meta.sizes
                      -%}
                      {%- if color != blank or size != blank -%}
                        <p class="text-[2.2rem] leading-[5.6rem] -tracking-[.02em] uppercase">
                          {%- if color != blank -%}{{ color }}{% endif -%}
                          {%- if color != blank and size != blank %}, {% endif -%}
                          {%- if size != blank -%}{{ size }}{%- endif -%}
                        </p>
                      {%- endif -%}
                    </div>
                  </div>
                  {%- if product.quantity_price_breaks_configured? -%}
                    <div class="volume-pricing-note">
                      <span>{{ 'products.product.volume_pricing.note' | t }}</span>
                    </div>
                  {%- endif -%}
                  <div class="product__tax caption rte">
                    {%- if cart.taxes_included -%}
                      {{ 'products.product.include_taxes' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </div>
                  <div {{ block.shopify_attributes }}>
                    {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                    {%- form 'product',
                      product,
                      data-productid: product.id,
                      id: product_form_installment_id,
                      class: 'installment caption-large'
                    -%}
                      <input
                        type="hidden"
                        name="id"
                        data-productid="{{ product.id }}"
                        value="{{ product.selected_or_first_available_variant.id }}"
                      >
                      {{ form | payment_terms }}
                    {%- endform -%}
                  </div>
                {%- when 'description' -%}
                  {%- if product.description != blank -%}
                    <div
                      class="product__description rte quick-add-hidden pt-4 lg:pt-[4.5rem] w-full max-w-[35rem]"
                      {{ block.shopify_attributes }}
                    >
                      {{ product.description }}
                    </div>
                  {%- endif -%}
                {%- when 'quantity_selector' -%}
                  <div
                    id="Quantity-Form-{{ section.id }}"
                    class="product-form__input product-form__quantity lg:pt-[2.5rem]"
                    {{ block.shopify_attributes }}
                  >
                    {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
                    {% # theme-check-disable %}
                    {%- assign cart_qty = cart
                      | item_count_for_variant: product.selected_or_first_available_variant.id
                    -%}
                    {% # theme-check-enable %}
                    <label
                      class="quantity__label form__label text-[2.2rem] leading-[2.3rem] -tracking-[.02em] pb-1 block"
                      for="Quantity-{{ section.id }}"
                    >
                      {{ 'products.product.quantity.label' | t }}
                      <span class="quantity__rules-cart no-js-hidden{% if cart_qty == 0 %} hidden{% endif %}">
                        <span class="loading-overlay hidden">
                          <span class="loading-overlay__spinner">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              class="spinner"
                              viewBox="0 0 66 66"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </span>
                        </span>
                        <span
                          >(
                          {{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}
                          )</span
                        >
                      </span>
                    </label>
                    <div class="price-per-item__container">
                      <quantity-input
                        class="quantity flex items-center"
                        data-url="{{ product.url }}"
                        data-section="{{ section.id }}"
                      >
                        <button class="quantity__button no-js-hidden w-[1.6rem] h-[1.6rem]" name="minus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                          </span>
                          {% render 'icon-minus' %}
                        </button>
                        <input
                          class="quantity__input  w-3 h-[1.6rem] text-center leading-[1.4rem]"
                          type="number"
                          name="quantity"
                          id="Quantity-{{ section.id }}"
                          data-cart-quantity="{{ cart_qty }}"
                          data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                            data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                            max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                          {% endif %}
                          step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                          value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          form="{{ product_form_id }}"
                        >
                        <button class="quantity__button no-js-hidden w-[1.6rem] h-[1.6rem]" name="plus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                          </span>
                          {% render 'icon-plus' %}
                        </button>
                      </quantity-input>
                      {%- liquid
                        assign volume_pricing_array = product.selected_or_first_available_variant.quantity_price_breaks | sort: 'quantity' | reverse
                        assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.min
                        if cart_qty > 0
                          assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.increment
                        endif
                      -%}
                      <price-per-item
                        class="no-js-hidden"
                        id="Price-Per-Item-{{ section.id }}"
                        data-section-id="{{ section.id }}"
                        data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                      >
                        {%- if product.quantity_price_breaks_configured? -%}
                          <div class="price-per-item">
                            {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                              {%- assign variant_price = product.selected_or_first_available_variant.price
                                | money_with_currency
                              -%}
                              <span class="price-per-item--current">
                                {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                              </span>
                            {%- else -%}
                              {%- for price_break in volume_pricing_array -%}
                                {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                                  {%- assign price_break_price = price_break.price | money_with_currency -%}
                                  <span class="price-per-item--current">
                                    {{-
                                      'products.product.volume_pricing.price_at_each'
                                      | t: price: price_break_price
                                    -}}
                                  </span>
                                  {%- break -%}
                                {%- endif -%}
                              {%- endfor -%}
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </price-per-item>
                    </div>
                    <div class="quantity__rules caption no-js-hidden">
                      {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.multiples_of'
                            | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                          -}}
                        </span>
                      {%- endif -%}
                      {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.minimum_of'
                            | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                          -}}
                        </span>
                      {%- endif -%}
                      {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.maximum_of'
                            | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                          -}}
                        </span>
                      {%- endif -%}
                    </div>
                    {%- if product.quantity_price_breaks_configured? -%}
                      <volume-pricing class="parent-display no-js-hidden" id="Volume-{{ section.id }}">
                        {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                          <span class="caption-large">{{ 'products.product.volume_pricing.title' | t }}</span>
                          <ul class="list-unstyled no-js-hidden">
                            <li>
                              <span>{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                              {%- assign price = product.selected_or_first_available_variant.price
                                | money_with_currency
                              -%}
                              <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: variant_price }}">
                                {{- 'sections.quick_order_list.each' | t: money: price -}}
                              </span>
                            </li>
                            {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
                              {%- assign price_break_price = price_break.price | money_with_currency -%}
                              <li class="{%- if forloop.index >= 3 -%}show-more-item hidden{%- endif -%}">
                                <span>
                                  {{- price_break.minimum_quantity -}}
                                  <span aria-hidden="true">+</span></span
                                >
                                <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_price }}">
                                  {{- 'sections.quick_order_list.each' | t: money: price_break_price -}}
                                </span>
                              </li>
                            {%- endfor -%}
                          </ul>
                          {%- if product.selected_or_first_available_variant.quantity_price_breaks.size >= 3 -%}
                            <show-more-button>
                              <button
                                class="button-show-more link underlined-link"
                                id="Show-More-{{ section.id }}"
                                type="button"
                              >
                                <span class="label-show-more label-text"
                                  ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t }}
                                </span>
                              </button>
                            </show-more-button>
                          {%- endif -%}
                        {%- endif -%}
                      </volume-pricing>
                    {%- endif -%}
                  </div>
                {%- when 'buy_buttons' -%}
                  <div class="xl:hidden pt-[2.5rem]">
                    {%- render 'buy-buttons',
                      block: block,
                      product: product,
                      product_form_id: product_form_id,
                      section_id: section.id,
                      show_pickup_availability: false,
                      btn_class: 'product-act-btn'
                    -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </product-info>
        </div>
        <div class="hidden xl:flex xl:col-span-2 flex-col justify-center">
          <button
            id="ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"
            class="product-form__submit button button--full-width product-act-btn"
            form="{{ product_form_id }}"
            {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                {{ 'products.product.sold_out' | t }}
              {%- else -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>
            <div class="group loading-overlay--spinner hidden group-[]:">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return msie > 0 || trident > 0;
      }

      if (!isIE()) return;
      const hiddenInput = document.querySelector(
        '#{{ product_form_id }} input[name="id" data-productid="{{ product.id }}"]'
      );
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher =
        document.querySelector('variant-radios[data-section="{{ section.id }}"]') ||
        document.querySelector('variant-selects[data-section="{{ section.id }}"]');
      noScriptInputWrapper.innerHTML = document.querySelector(
        '.product-form__noscript-wrapper-{{ section.id }}'
      ).textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });
  </script>

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
</section>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "vendor",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Vendor",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    }
  ],
  "settings": []
}
{% endschema %}
