{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

<div class="customer order section-padding color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="col-span-full mb-7 lg:mb-[3.5rem]">
      <h1 class="m-0 customer__title text-2xl leading-[4.6rem] text-center max-w-[25rem] mx-auto uppercase first-line:font-serif first-line:-tracking-[.05em]">
        {{ 'customer.account.title' | t }}
      </h1>
    </div>
    <div class="col-span-full">
      <div class="max-w-[71rem] mx-auto px-1">
        <div class="hidden lg:grid gap-2 grid-cols-3 border-b border-color pb-1">
          <a href="{{ routes.account_url }}" class="group col-span-1 account-block-title"
            ><span class="uppercase underline underline-offset-[3px] decoration-transparent group-[&.active]:decoration-current text-[rgba(var(--color-foreground),_.5)] group-[&.active]:text-[rgb(var(--color-foreground))]"
              >Member Information</span
            ></a
          >
          <p href="#OrderHistory" class="group text-center col-span-1 account-block-title active">
            <span class="uppercase underline underline-offset-[3px] decoration-transparent group-[&.active]:decoration-current text-[rgba(var(--color-foreground),_.5)] group-[&.active]:text-[rgb(var(--color-foreground))]"
              >Order History</span
            >
          </p>
          <a href="{{ routes.account_logout_url }}" class="text-center col-span-1 account-block-title"
            ><span class="uppercase underline underline-offset-[3px] decoration-transparent text-[rgba(var(--color-foreground),_.5)]"
              >LOGOUT</span
            ></a
          >
        </div>
        <div class="account-single-order-details flex flex-col">
          <h3 class="account-block-title uppercase pb-.5 border-b border-color lg:hidden">Order History</h3>
          <div class="grid grid-cols-10 gap-2 py-[1.2rem] lg:py-[1.25rem] border-b border-color">
            <a
              href="{{ routes.account_url }}#OrderHistory"
              class="col-span-4 text-md leading-[1.4rem] lg:leading-[2.1rem] underline underline-offset-4"
            >
              Back
            </a>
            <p class="col-span-6 taxt-md leading-[1.4rem] lg:text-base lg:leading-[2.4rem]">Order {{ order.name }}</p>
          </div>
          <div class="grid grid-cols-10 lg:grid-cols-3 gap-x-1 gap-y-[2.5rem] lg:gap-x-2 lg:gap-y-4 pt-2 pb-[7.5rem]">
            <div class="col-span-4 lg:col-span-1 flex flex-col gap-1">
              <p class="text-md leading-[150%] text-[rgba(var(--color-foreground),_.5)]">Placed on</p>
              <p class="text-md lg:text-base leading-[150%]">{{ order.created_at | time_tag: format: 'date' }}</p>
            </div>
            <div class="col-span-6 lg:col-span-1 flex flex-col gap-1">
              <p class="text-md leading-[150%] text-[rgba(var(--color-foreground),_.5)]">Fulfillment</p>
              <p class="text-md lg:text-base leading-[150%]">{{ order.fulfillment_status_label }}</p>
            </div>
            <div class="col-span-4 lg:col-span-1 flex flex-col gap-1">
              <p class="text-md leading-[150%] text-[rgba(var(--color-foreground),_.5)]">Payment</p>
              <p class="text-md lg:text-base leading-[150%]">{{ order.financial_status_label }}</p>
            </div>
            <div class="col-span-6 lg:col-span-1 flex flex-col gap-1">
              <p class="text-md leading-[150%] text-[rgba(var(--color-foreground),_.5)]">Mailing Address</p>
              <div class="text-md lg:text-base leading-[150%] [&>*]:text-md [&>*]:lg:text-base [&>*]:leading-[150%]">
                {{ order.shipping_address | format_address }}
              </div>
            </div>
            <div class="col-span-full lg:col-span-2 flex flex-col gap-1">
              <p class="text-md leading-[150%] text-[rgba(var(--color-foreground),_.5)]">Order Details</p>
              <div>
                {%- for line_item in order.line_items -%}
                  <div class="grid grid-cols-10 gap-1 lg:grid-cols-2 lg:gap-2 border-t border-color pt-1 pb-[1.2rem] lg:py-[1.7rem]">
                    <div class="col-span-4 lg:col-span-1 flex flex-col gap-.5">
                      {%- if line_item.product.metafields.custom.vendor.value.title != blank -%}
                        <p class="text-md lg:text-base leading-[150%]">
                          {{ line_item.product.metafields.custom.vendor.value.title }}
                        </p>
                      {%- else -%}
                        <p class="text-md lg:text-base leading-[150%]">
                          {{ line_item.vendor }}
                        </p>
                      {%- endif -%}
                      <p class="text-md lg:text-base leading-[150%]">{{ line_item.title }}</p>
                    </div>
                    <div class="col-span-6 lg:col-span-1 grid grid-cols-6 lg:grid-cols-2 gap-1 lg:gap-2">
                      <p class="text-md lg:text-base leading-[150%] col-span-3 lg:col-span-1">
                        Qty: {{ line_item.quantity }}
                      </p>
                      <p class="text-md lg:text-base leading-[150%] col-span-3 lg:col-span-1 text-right">
                        {{ line_item.original_line_price | money }}
                      </p>
                    </div>
                  </div>
                {%- endfor -%}
              </div>
            </div>
            <div class="col-span-full grid grid-cols-10 lg:grid-cols-3 gapx-x-1 gap-y-3 lg:gap-x-2 lg:border-t lg:border-b border-color lg:py-[1.8rem]">
              <div class="col-span-full lg:col-span-1 flex flex-col gap-.5 order-2 lg:order-1">
                <p class="text-md leading-[150%] text-[rgba(var(--color-foreground),_.5)]">Need help?</p>
                <a href="mailto:hello@mfbimports.com" class="text-md lg:text-base leading-[150%]"
                  >hello@mfbimports.com</a
                >
              </div>
              <div class="col-span-full lg:col-span-2 grid grid-cols-10 lg:grid-cols-2 gap-1 lg:gap-2 order-1 lg:order-2 border-t border-b lg:border-none pt-1 pb-[1.5rem] lg:py-0">
                <div class="col-span-4 lg:col-span-1 flex flex-col gap-.5">
                  <p class="text-md leading-[150%] text-[rgba(var(--color-foreground),_.5)]">Subtotal</p>
                  <p class="text-md lg:text-base leading-[150%]">{{ order.line_items_subtotal_price | money }}</p>
                </div>
                <div class="col-span-6 lg:col-span-1 grid grid-cols-6 lg:grid-cols-2 gap-1 lg:gap-2">
                  <div class="col-span-3 lg:col-span-1 flex flex-col gap-.5">
                    <p class="text-md leading-[150%] text-[rgba(var(--color-foreground),_.5)]">Shipping</p>
                    <p class="text-md lg:text-base leading-[150%]">{{ order.shipping_price | money }}</p>
                  </div>
                  <div class="col-span-3 lg:col-span-1 flex flex-col gap-.5 text-right">
                    <p class="text-md leading-[150%] text-[rgba(var(--color-foreground),_.5)]">Total</p>
                    <p class="text-md lg:text-base leading-[150%]">{{ order.total_price | money }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-order.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 210
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 175
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 265
    }
  ]
}
{% endschema %}
