{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

<article
  class="article-template section-padding color-{{ section.settings.color_scheme }}"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <div class="container">
    <div class="col-span-full">
      <h1 class="m-0 text-2xl leading-[4.6rem] first-line:font-serif first-line:-tracking-[.05em] max-w-[9ch] mx-auto text-center lg:text-4xl lg:leading-[9rem] uppercase">
        {{ article.title }}
      </h1>
    </div>
    <div class="col-span-full lg:col-span-8 grid grid-cols-10 lg:grid-cols-8 gap-1 lg:gap-2 mt-2 lg:mt-[2.5rem]">
      <div class="col-span-full lg:col-span-2 order-2 lg:order-1">
        <div class="flex flex-col gap-.5 lg:gap-2 pt-1 lg:pt-2 ps-1 lg:ps-2">
          <a href="{{ blog.url }}" class="text-xs leading-[1.6rem] lg:text-md lg:leading-[2rem] uppercase">
            {{- blog.title -}}
          </a>
          <div>
            <p
              class="text-xs leading-[1.6rem] lg:text-md lg:leading-[2rem] uppercase"
              itemprop="dateCreated pubdate datePublished"
            >
              {{- article.published_at | time_tag: ' %d %b %Y' -}}
            </p>
            <p
              class="text-xs leading-[1.6rem] lg:text-md lg:leading-[2rem]"
              itemprop="author"
              itemscope
              itemtype="http://schema.org/Person"
            >
              <span itemprop="name">by {{ article.author | upcase }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-span-full lg:col-span-6 order-1 lg:order-2">
        <div
          class="rounded-2xl overflow-hidden"
          itemprop="image"
        >
          <img
            srcset="
              {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
              {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
              {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
              {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
              {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
              {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
              {{ article.image | image_url }} {{ article.image.width }}w
            "
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 40 }}px, (min-width: 750px) calc(100vw - 20px), 100vw"
            src="{{ article.image | image_url: width: 1920 }}"
            loading="eager"
            fetchpriority="high"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
            alt="{{ article.image.alt | escape }}"
          >
        </div>
      </div>
    </div>
    <div class="col-span-full lg:col-span-8 lg:col-start-2 article-content">
      {{ article.content }}
    </div>
    {%- assign image = section.settings.image -%}
    {%- if image != blank or section.settings.extra_info != blank -%}
      <div class="col-span-full grid grid-cols-10 gap-1 lg:gap-2 mt-2 lg:mt-7">
        {%- if image != blank -%}
          <div class="col-span-full order-2 lg:order-1 lg:col-span-5 lg:col-start-2">
            <img
              srcset="
                {% if image.width >= 350 %}{{ image | image_url: width: 350 }} 350w,{% endif %}
                {% if image.width >= 750 %}{{ image | image_url: width: 750 }} 750w,{% endif %}
                {% if image.width >= 1100 %}{{ image | image_url: width: 1100 }} 1100w,{% endif %}
                {% if image.width >= 1500 %}{{ image | image_url: width: 1500 }} 1500w,{% endif %}
                {% if image.width >= 2200 %}{{ image | image_url: width: 2200 }} 2200w,{% endif %}
                {% if image.width >= 3000 %}{{ image | image_url: width: 3000 }} 3000w,{% endif %}
                {{ image | image_url }} {{ image.width }}w
              "
              sizes="(min-width: {{ 1920 }}px) {{ 1920 | minus: 40 }}px, (min-width: 768px) calc(100vw - 20px), 100vw"
              src="{{ image | image_url: width: 1920 }}"
              loading="eager"
              fetchpriority="high"
              width="{{ image.width }}"
              height="{{ height }}"
              alt="{{ image.alt | escape }}"
              class="mx-auto"
            >
          </div>
        {%- endif -%}
        {%- if section.settings.extra_info != blank -%}
          <div class="col-span-8 col-start-2 order-1 lg:order-2 lg:col-span-3 mb-2 lg:mb-0 article-extra-text">
            {{
              section.settings.extra_info
              | replace: '<div class="metafield-rich_text_field">', ''
              | replace: '</div>', ''
            }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "extra_info",
      "label": "Text"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 140
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 190
    }
  ]
}
{% endschema %}
