{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

<div class="customer login section-padding color-{{ section.settings.color_scheme }}">
  <div class="w-full max-w-[55rem] mx-auto px-1 lg:px-2">
    <div id="recover" tabindex="-1">
      <h1 class="account-title mb-9 lg:mb-6">
        {{ 'customer.recover_password.title' | t }}
      </h1>
      <div class="flex flex-col gap-2">
        <p>
          {{ 'customer.recover_password.subtext' | t }}
        </p>

        {%- form 'recover_customer_password', novalidate: 'novalidate', class: 'flex flex-col gap-1' -%}
          {% assign recover_success = form.posted_successfully? %}
          <div class="field w-full relative pb-[1.8rem]">
            <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
                autofocus
              {% endif %}
              placeholder="{{ 'customer.login_page.email' | t }}"
              class="default-input{% if form.errors %} error-input{% endif %}"
            >
            {%- if form.errors -%}
              <small id="RecoverEmail-email-error" class="form__message form__message--error absolute bottom-0 left-0">
                {{ form.errors.messages.form }}
              </small>
            {%- endif -%}
          </div>

          <button class="btn-medium btn-primary w-full mt-2">
            {{ 'customer.login_page.submit' | t }}
          </button>

          <a href="#login-form" class="btn-medium btn-secondary mt-1">
            {{ 'customer.login_page.cancel' | t }}
          </a>
        {%- endform -%}
      </div>
    </div>
    <div id="login" tabindex="-1">
      <h1 class="account-title mb-9 lg:mb-6">
        {{ 'customer.login_page.title' | t }}
      </h1>
      <div>
        {%- form 'customer_login', novalidate: 'novalidate', class: 'flex flex-col gap-1' -%}
          <div class="field w-full relative pb-[1.8rem]">
            <input
              type="email"
              name="customer[email]"
              id="CustomerEmail"
              autocomplete="email"
              autocorrect="off"
              autocapitalize="off"
              aria-required="true"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'customer.login_page.email' | t }}"
              class="default-input{% if form.errors contains 'form' %} error-input{% endif %}"
            >
          </div>

          {%- if form.password_needed -%}
            <div class="field w-full relative pb-[1.8rem]">
              <input
                type="password"
                value=""
                name="customer[password]"
                id="CustomerPassword"
                autocomplete="current-password"
                aria-required="true"
                {% if form.errors contains 'form' %}
                  aria-invalid="true"
                {% endif %}
                placeholder="{{ 'customer.login_page.password' | t }}"
                class="default-input{% if form.errors contains 'form' %} error-input{% endif %}"
              >
              {%- if form.errors contains 'form' -%}
                <span class="form__message form__message--error absolute bottom-0 left-0">
                  {{ form.errors.translated_fields.password | capitalize }}
                  {{ form.errors.messages.form }}
                </span>
              {%- endif -%}
            </div>
          {%- endif -%}

          <button class="btn-medium btn-primary w-full mt-2">
            {{ 'customer.login_page.sign_in' | t }}
          </button>
          <div class="flex flex-col items-center mt-1 gap-1">
            <a href="#recover" class="text-sm underline underline-offset-2">
              {{ 'customer.login_page.forgot_password' | t }}
            </a>
            <a href="{{ routes.account_register_url }}" class="text-sm underline underline-offset-2">
              {{ 'customer.login_page.create_account' | t }}
            </a>
          </div>
        {%- endform -%}
      </div>
    </div>

    {%- if shop.checkout.guest_login -%}
      <div>
        <hr>
        <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

        {%- form 'guest_login' -%}
          <button>
            {{ 'customer.login_page.guest_continue' | t }}
          </button>
        {%- endform -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 55
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 160
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 185
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 185
    }
  ]
}
{% endschema %}
