{% comment %} {{ 'customer.css' | asset_url | stylesheet_tag }} {% endcomment %}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

{%- paginate customer.addresses by 5 -%}
  <div class="customer addresses section-padding color-{{ section.settings.color_scheme }}" data-customer-addresses>
    <svg style="display: none">
      <symbol id="icon-caret" viewBox="0 0 10 6">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
      </symbol>
    </svg>
    <div class="container">
      <div class="col-span-full mb-7 lg:mb-[3.5rem]">
        <h1 class="m-0 customer__title text-2xl leading-[4.6rem] text-center max-w-[25rem] mx-auto uppercase first-line:font-serif first-line:-tracking-[.05em]">
          {{ 'customer.account.title' | t }}
        </h1>
      </div>
      <div class="col-span-full">
        <div class="max-w-[71rem] mx-auto px-1">
          <div class="hidden lg:grid gap-2 grid-cols-3 border-b border-color pb-1">
            <a href="{{ routes.account_url }}" class="group col-span-1 account-block-title"
              ><span class="uppercase underline underline-offset-[3px] decoration-transparent group-[&.active]:decoration-current text-[rgba(var(--color-foreground),_.5)] group-[&.active]:text-[rgb(var(--color-foreground))]"
                >Member Information</span
              ></a
            >
            <p href="#OrderHistory" class="group text-center col-span-1 account-block-title active">
              <span class="uppercase underline underline-offset-[3px] decoration-transparent group-[&.active]:decoration-current text-[rgba(var(--color-foreground),_.5)] group-[&.active]:text-[rgb(var(--color-foreground))]"
                >Addresses</span
              >
            </p>
            <a href="{{ routes.account_logout_url }}" class="text-center col-span-1 account-block-title"
              ><span class="uppercase underline underline-offset-[3px] decoration-transparent text-[rgba(var(--color-foreground),_.5)]"
                >LOGOUT</span
              ></a
            >
          </div>
          <div class="flex flex-col">
            <h3 class="account-block-title uppercase pb-.5 border-b border-color lg:hidden">Addresses</h3>
            <div class="grid grid-cols-10 gap-x-2 py-[1.2rem] lg:py-[1.25rem] border-b border-color" data-address>
              <a
                class="col-span-4 text-md leading-[1.4rem] lg:leading-[2.1rem] underline underline-offset-4"
                href="{{ routes.account_url }}"
                >Back</a
              >
              <button
                type="button"
                aria-expanded="false"
                aria-controls="AddAddress"
                class="peer text-left col-span-6 taxt-md leading-[1.4rem] lg:text-base lg:leading-[2.4rem]"
              >
                {{ 'customer.addresses.add_new' | t }}
              </button>
              <div
                id="AddAddress"
                class="col-span-full hidden peer-aria-expanded:block border-t border-color mt-[1.2rem] lg:mt-[1.25rem]"
              >
                {%- form 'customer_address',
                  customer.new_address,
                  class: 'max-w-[42rem] mx-auto flex flex-col gap-[1.5rem] mt-[2rem] lg:mt-[3rem]'
                -%}
                  <div class="field pb-[1.8rem]">
                    <input
                      type="text"
                      id="AddressFirstNameNew"
                      name="address[first_name]"
                      value="{{ form.first_name }}"
                      autocomplete="given-name"
                      placeholder="{{ 'customer.addresses.first_name' | t }}"
                      class="default-input"
                    >
                  </div>
                  <div class="field pb-[1.8rem]">
                    <input
                      type="text"
                      id="AddressLastNameNew"
                      name="address[last_name]"
                      value="{{ form.last_name }}"
                      autocomplete="family-name"
                      placeholder="{{ 'customer.addresses.last_name' | t }}"
                      class="default-input"
                    >
                  </div>
                  <div class="field pb-[1.8rem]">
                    <input
                      type="text"
                      id="AddressCompanyNew"
                      name="address[company]"
                      value="{{ form.company }}"
                      autocomplete="organization"
                      placeholder="{{ 'customer.addresses.company' | t }}"
                      class="default-input"
                    >
                  </div>
                  <div class="field pb-[1.8rem]">
                    <input
                      type="text"
                      id="AddressAddress1New"
                      name="address[address1]"
                      value="{{ form.address1 }}"
                      autocomplete="address-line1"
                      placeholder="{{ 'customer.addresses.address1' | t }}"
                      class="default-input"
                    >
                  </div>
                  <div class="field pb-[1.8rem]">
                    <input
                      type="text"
                      id="AddressAddress2New"
                      name="address[address2]"
                      value="{{ form.address2 }}"
                      autocomplete="address-line2"
                      placeholder="{{ 'customer.addresses.address2' | t }}"
                      class="default-input"
                    >
                  </div>
                  <div class="field pb-[1.8rem]">
                    <input
                      type="text"
                      id="AddressCityNew"
                      name="address[city]"
                      value="{{ form.city }}"
                      autocomplete="address-level2"
                      placeholder="{{ 'customer.addresses.city' | t }}"
                      class="default-input"
                    >
                  </div>
                  <div class="pb-[1.8rem]">
                    <label
                      for="AddressCountryNew"
                      class="block text-left text-md leading-[2.2rem] text-[rgba(var(--color-foreground),_.5)] pb-.5"
                    >
                      {{- 'customer.addresses.country' | t -}}
                    </label>
                    <div class="select relative">
                      <select
                        id="AddressCountryNew"
                        name="address[country]"
                        data-default="{{ form.country }}"
                        autocomplete="country"
                        class="text-md leading-[2.2rem] ps-1 py-.5 pe-[2.5rem] appearance-none border w-full border-[rgb(var(--color-foreground))] bg-[rgb(var(--color-background))] outline-none"
                      >
                        {{ all_country_option_tags }}
                      </select>
                      <svg
                        class="absolute w-[1.5rem] top-1/2 right-[5px] -translate-y-1/2"
                        aria-hidden="true"
                        focusable="false"
                        viewBox="0 0 10 6"
                      >
                        <use href="#icon-caret" />
                      </svg>
                    </div>
                  </div>
                  <div id="AddressProvinceContainerNew" style="display: none" class="pb-[1.8rem]">
                    <label
                      for="AddressProvinceNew"
                      class="block text-left text-md leading-[2.2rem] text-[rgba(var(--color-foreground),_.5)] pb-.5"
                    >
                      {{- 'customer.addresses.province' | t -}}
                    </label>
                    <div class="select relative">
                      <select
                        id="AddressProvinceNew"
                        name="address[province]"
                        data-default="{{ form.province }}"
                        autocomplete="address-level1"
                        class="text-md leading-[2.2rem] ps-1 py-.5 pe-[2.5rem] appearance-none border w-full border-[rgb(var(--color-foreground))] bg-[rgb(var(--color-background))] outline-none"
                      ></select>
                      <svg
                        class="absolute w-[1.5rem] top-1/2 right-[5px] -translate-y-1/2"
                        aria-hidden="true"
                        focusable="false"
                        viewBox="0 0 10 6"
                      >
                        <use href="#icon-caret" />
                      </svg>
                    </div>
                  </div>
                  <div class="field pb-[1.8rem]">
                    <input
                      type="text"
                      id="AddressZipNew"
                      name="address[zip]"
                      value="{{ form.zip }}"
                      autocapitalize="characters"
                      autocomplete="postal-code"
                      placeholder="{{ 'customer.addresses.zip' | t }}"
                      class="default-input"
                    >
                  </div>
                  <div class="field pb-[1.8rem]">
                    <input
                      type="tel"
                      id="AddressPhoneNew"
                      name="address[phone]"
                      value="{{ form.phone }}"
                      autocomplete="tel"
                      placeholder="{{ 'customer.addresses.phone' | t }}"
                      class="default-input"
                    >
                  </div>
                  <div class="[&>input]:w-[1.5rem] [&>input]:h-[1.5rem] flex items-center gap-1">
                    {{ form.set_as_default_checkbox }}
                    <label for="address_default_address_new" class="text-md leading-[2.2rem]">
                      {{- 'customer.addresses.set_default' | t -}}
                    </label>
                  </div>
                  <div class="flex gap-2 items-center mb-[.8rem] lg:mb-[1.75rem]">
                    <button class="btn-medium btn-primary">{{ 'customer.addresses.add' | t }}</button>
                    <button class="btn-medium btn-secondary" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                  </div>
                {%- endform -%}
              </div>
            </div>
            <div class="mt-3">
              <ul role="list" class="grid grid-cols-2 gap-2 lg:gap-3 list-none p-0 m-0" id="AjaxinateContainer">
                {%- for address in customer.addresses -%}
                  <li
                    class="col-span-full text-center pb-2 lg:pb-3{% unless forloop.last %} border-b border-color{% endunless %}"
                    data-address
                  >
                    <div class="max-w-[42rem] mx-auto">
                      {%- if address == customer.default_address -%}
                        <p class="inline-block font-serif text-md lg:text-base uppercase -tracking-[.05em] border-double border-b-4 pb-[.2rem] px-1 mb-2">
                          {{ 'customer.addresses.default' | t }}
                        </p>
                      {%- endif -%}
                      {{ address | format_address }}
                      <div class="flex gap-2 justify-center flex-wrap mt-2">
                        <button
                          type="button"
                          id="EditFormButton_{{ address.id }}"
                          aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                          aria-controls="EditAddress_{{ address.id }}"
                          aria-expanded="false"
                          data-address-id="{{ address.id }}"
                          class="btn-medium btn-primary peer"
                        >
                          {{ 'customer.addresses.edit' | t }}
                        </button>
                        <button
                          type="button"
                          aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                          data-target="{{ address.url }}"
                          data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                          class="btn-medium btn-secondary"
                        >
                          {{ 'customer.addresses.delete' | t }}
                        </button>
                        <div id="EditAddress_{{ address.id }}" class="hidden peer-aria-expanded:block w-full">
                          <h2 class="text-md lg:text-base">{{ 'customer.addresses.edit_address' | t }}</h2>
                          {%- form 'customer_address', address, class: 'flex flex-col gap-[1.5rem]' -%}
                            <div class="field pb-[1.8rem]">
                              <input
                                type="text"
                                id="AddressFirstName_{{ form.id }}"
                                name="address[first_name]"
                                value="{{ form.first_name }}"
                                autocomplete="given-name"
                                placeholder="{{ 'customer.addresses.first_name' | t }}"
                                class="default-input"
                              >
                            </div>
                            <div class="field pb-[1.8rem]">
                              <input
                                type="text"
                                id="AddressLastName_{{ form.id }}"
                                name="address[last_name]"
                                value="{{ form.last_name }}"
                                autocomplete="family-name"
                                placeholder="{{ 'customer.addresses.last_name' | t }}"
                                class="default-input"
                              >
                            </div>
                            <div class="field pb-[1.8rem]">
                              <input
                                type="text"
                                id="AddressCompany_{{ form.id }}"
                                name="address[company]"
                                value="{{ form.company }}"
                                autocomplete="organization"
                                placeholder="{{ 'customer.addresses.company' | t }}"
                                class="default-input"
                              >
                            </div>
                            <div class="field pb-[1.8rem]">
                              <input
                                type="text"
                                id="AddressAddress1_{{ form.id }}"
                                name="address[address1]"
                                value="{{ form.address1 }}"
                                autocomplete="address-line1"
                                placeholder="{{ 'customer.addresses.address1' | t }}"
                                class="default-input"
                              >
                            </div>
                            <div class="field pb-[1.8rem]">
                              <input
                                type="text"
                                id="AddressAddress2_{{ form.id }}"
                                name="address[address2]"
                                value="{{ form.address2 }}"
                                autocomplete="address-line2"
                                placeholder="{{ 'customer.addresses.address2' | t }}"
                                class="default-input"
                              >
                            </div>
                            <div class="field pb-[1.8rem]">
                              <input
                                type="text"
                                id="AddressCity_{{ form.id }}"
                                name="address[city]"
                                value="{{ form.city }}"
                                autocomplete="address-level2"
                                placeholder="{{ 'customer.addresses.city' | t }}"
                                class="default-input"
                              >
                            </div>
                            <div class="pb-[1.8rem]">
                              <label
                                class="block text-left text-md leading-[2.2rem] text-[rgba(var(--color-foreground),_.5)] pb-.5"
                                for="AddressCountry_{{ form.id }}"
                              >
                                {{ 'customer.addresses.country' | t }}
                              </label>
                              <div class="select relative">
                                <select
                                  id="AddressCountry_{{ form.id }}"
                                  name="address[country]"
                                  data-address-country-select
                                  data-default="{{ form.country }}"
                                  data-form-id="{{ form.id }}"
                                  autocomplete="country"
                                  class="text-md leading-[2.2rem] ps-1 py-.5 pe-[2.5rem] appearance-none border w-full border-[rgb(var(--color-foreground))] bg-[rgb(var(--color-background))] outline-none"
                                >
                                  {{ all_country_option_tags }}
                                </select>
                                <svg
                                  class="absolute w-[1.5rem] top-1/2 right-[5px] -translate-y-1/2"
                                  aria-hidden="true"
                                  focusable="false"
                                  viewBox="0 0 10 6"
                                >
                                  <use href="#icon-caret" />
                                </svg>
                              </div>
                            </div>
                            <div id="AddressProvinceContainer_{{ form.id }}" class="pb-[1.8rem]" style="display:none;">
                              <label
                                class="block text-left text-md leading-[2.2rem] text-[rgba(var(--color-foreground),_.5)] pb-.5"
                                for="AddressProvince_{{ form.id }}"
                              >
                                {{ 'customer.addresses.province' | t }}
                              </label>
                              <div class="select relative">
                                <select
                                  id="AddressProvince_{{ form.id }}"
                                  name="address[province]"
                                  data-default="{{ form.province }}"
                                  autocomplete="address-level1"
                                  class="text-md leading-[2.2rem] ps-1 py-.5 pe-[2.5rem] appearance-none border w-full border-[rgb(var(--color-foreground))] bg-[rgb(var(--color-background))] outline-none"
                                ></select>
                                <svg
                                  class="absolute w-[1.5rem] top-1/2 right-[5px] -translate-y-1/2"
                                  aria-hidden="true"
                                  focusable="false"
                                  viewBox="0 0 10 6"
                                >
                                  <use href="#icon-caret" />
                                </svg>
                              </div>
                            </div>
                            <div class="field pb-[1.8rem]">
                              <input
                                type="text"
                                id="AddressZip_{{ form.id }}"
                                name="address[zip]"
                                value="{{ form.zip }}"
                                autocapitalize="characters"
                                autocomplete="postal-code"
                                placeholder="{{ 'customer.addresses.zip' | t }}"
                                class="default-input"
                              >
                            </div>
                            <div class="field pb-[1.8rem]">
                              <input
                                type="tel"
                                id="AddressPhone_{{ form.id }}"
                                name="address[phone]"
                                value="{{ form.phone }}"
                                autocomplete="tel"
                                placeholder="{{ 'customer.addresses.phone' | t }}"
                                class="default-input"
                              >
                            </div>
                            <div class="[&>input]:w-[1.5rem] [&>input]:h-[1.5rem] flex items-center gap-1">
                              {{ form.set_as_default_checkbox }}
                              <label for="address_default_address_{{ form.id }}" class="text-md leading-[2.2rem]">
                                {{ 'customer.addresses.set_default' | t }}
                              </label>
                            </div>
                            <div class="flex gap-2">
                              <button class="btn-medium btn-primary">{{ 'customer.addresses.update' | t }}</button>
                              <button class="btn-medium btn-secondary" type="reset">
                                {{ 'customer.addresses.cancel' | t }}
                              </button>
                            </div>
                          {%- endform -%}
                        </div>
                      </div>
                    </div>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {%- if paginate.pages > 1 -%}
      <script src="{{ 'ajaxinate.min.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'paginate-component.js' | asset_url }}" defer="defer"></script>
      <div id="AjaxinatePagination" class="col-span-full flex justify-center">
        {% if paginate.next %}
          <a
            href="{{ paginate.next.url }}"
            class="btn-primary uppercase h-[2.2rem] rounded-full border text-[1rem] leading-[1.6rem] px-[1.3rem] pt-[.3rem]"
            >More address</a
          >
        {% endif %}
      </div>
    {%- endif -%}
  </div>
{%- endpaginate -%}

<script>
  window.addEventListener('load', () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  });
</script>

{% schema %}
{
  "name": "t:sections.main-addresses.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 210
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 175
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 265
    }
  ]
}
{% endschema %}
