{%- if section.settings.enable_quick_add -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

<div class="section-padding color-{{ section.settings.color_scheme }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    <div class="container">
      <div class="col-span-full">
        {% comment %} {{ 'component-facets.css' | asset_url | stylesheet_tag }} {% endcomment %}
        {%- if section.settings.enable_filtering -%}
          <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
          <aside
            aria-labelledby="verticalTitle"
            class="facets-wrapper border-t border-color"
            id="main-collection-filters"
            data-id="{{ section.id }}"
          >
            {% render 'facets',
              results: collection,
              enable_filtering: section.settings.enable_filtering,
              enable_sorting: section.settings.enable_sorting,
              filter_type: section.settings.filter_type,
              paginate: paginate
            %}
          </aside>
        {%- endif -%}
        <div
          class="product-grid-container border-t border-color pt-1 lg:pt-2"
          id="ProductGridContainer"
        >
          {%- if collection.products.size == 0 -%}
            <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
              <div class="loading-overlay gradient"></div>
              <div class="title-wrapper text-center py-10">
                <h2 class="text-xl first-line:font-serif first-line:-tracking-[.05em] uppercase">
                  {{ 'sections.collection_template.empty' | t -}}
                  <br>
                  {{
                    'sections.collection_template.use_fewer_filters_html'
                    | t: link: collection.url, class: 'underline underline-offset-4'
                  }}
                </h2>
              </div>
            </div>
          {%- else -%}
            <div class="group collection">
              <div
                class="loading-overlay gradient hidden top-0 left-0 bottom-0 right-0 absolute w-full opacity-70 group-[&.loading]:block pointer-events-none z-[2]"
              ></div>
              <ul
                id="AjaxinateContainer"
                data-id="{{ section.id }}"
                class="col-span-full grid grid-cols-2 gap-1 lg:grid-cols-10 lg:gap-2"
              >
                {%- for product in collection.products -%}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
                  <li
                    class="col-sapn-1 lg:col-span-2"
                  >
                    {% render 'card-product',
                      card_product: product,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      lazy_load: lazy_load,
                      show_quick_add: section.settings.enable_quick_add,
                      section_id: section.id
                    %}
                  </li>
                {%- endfor -%}
              </ul>

              {%- if paginate.pages > 1 -%}
                <script src="{{ 'ajaxinate.min.js' | asset_url }}" defer="defer"></script>
                <script src="{{ 'paginate-component.js' | asset_url }}" defer="defer"></script>
                <div id="AjaxinatePagination" class="col-span-full flex justify-center mt-2 lg:mt-5">
                  {% if paginate.next %}
                    <a
                      href="{{ paginate.next.url }}"
                      class="btn-primary btn-small rounded-full w-[90%] max-w-[26.4rem]"
                      >LOAD MORE</a
                    >
                  {% endif %}
                </div>
                {% comment %}
                  {%- render 'pagination', paginate: paginate -%}
                {% endcomment %}
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endpaginate -%}
</div>
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 5,
      "max": 20,
      "step": 5,
      "default": 15,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-2"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 20
    }
  ]
}
{% endschema %}
