{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

<div class="customer activate section-padding color-{{ section.settings.color_scheme }}">
  <div class="w-full max-w-[55rem] mx-auto px-1 lg:px-2">
    <h1 class="account-title mb-9 lg:mb-6">
      {{ 'customer.activate_account.title' | t }}
    </h1>
    <div class="flex flex-col gap-2">
      <p>
        {{ 'customer.activate_account.subtext' | t }}
      </p>
      {%- form 'activate_customer_password', class: 'flex flex-col gap-1' -%}
        <div class="field w-full relative pb-[1.8rem]">
          <input
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            placeholder="{{ 'customer.activate_account.password' | t }}"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password-error"
            {% endif %}
            class="default-input{% if form.errors %} error-input{% endif %}"
          >
          {%- if form.errors contains 'password' -%}
            <small id="password-error" class="form__message form__message--error absolute bottom-0 left-0">
              {{ form.errors.translated_fields.password | capitalize }}
              {{ form.errors.messages.password }}
            </small>
          {%- endif -%}
        </div>

        <div class="field w-full relative pb-[1.8rem]">
          <input
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            placeholder="{{ 'customer.activate_account.password_confirm' | t }}"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password_confirmation-error"
            {% endif %}
            class="default-input{% if form.errors %} error-input{% endif %}"
          >
          {%- if form.errors contains 'password_confirmation' -%}
            <small id="password_confirmation-error" class="form__message form__message--error absolute bottom-0 left-0">
              {{ form.errors.translated_fields.password_confirmation | capitalize }}
              {{ form.errors.messages.password_confirmation }}
            </small>
          {%- endif -%}
        </div>

        <button class="btn-medium btn-primary w-full mt-2">
          {{ 'customer.activate_account.submit' | t }}
        </button>
        <button name="decline" class="btn-medium btn-secondary mt-1">
          {{ 'customer.activate_account.cancel' | t }}
        </button>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-activate-account.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 55
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 160
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 185
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 185
    }
  ]
}
{% endschema %}
