{% comment %} {{ 'customer.css' | asset_url | stylesheet_tag }} {% endcomment %}

{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

<div class="customer register section-padding color-{{ section.settings.color_scheme }}">
  <div class="w-full max-w-[55rem] mx-auto px-1 lg:px-2">
    <h1 class="account-title mb-9 lg:mb-6">
      {{ 'customer.register.title' | t }}
    </h1>
    {%- form 'create_customer', novalidate: 'novalidate', class: 'flex flex-col gap-[1.5rem]' -%}
      <div class="field w-full relative pb-[1.8rem]">
        <input
          type="text"
          name="customer[first_name]"
          id="RegisterForm-FirstName"
          {% if form.first_name %}
            value="{{ form.first_name }}"
          {% endif %}
          autocomplete="given-name"
          placeholder="{{ 'customer.register.first_name' | t }}"
          class="default-input"
        >
      </div>
      <div class="field w-full relative pb-[1.8rem]">
        <input
          type="text"
          name="customer[last_name]"
          id="RegisterForm-LastName"
          {% if form.last_name %}
            value="{{ form.last_name }}"
          {% endif %}
          autocomplete="family-name"
          placeholder="{{ 'customer.register.last_name' | t }}"
          class="default-input"
        >
      </div>
      <div class="field w-full relative pb-[1.8rem]">
        <input
          type="email"
          name="customer[email]"
          id="RegisterForm-email"
          {% if form.email %}
            value="{{ form.email }}"
          {% endif %}
          spellcheck="false"
          autocapitalize="off"
          autocomplete="email"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-email-error"
          {% endif %}
          placeholder="{{ 'customer.register.email' | t }}"
          class="default-input{% if form.errors contains 'email' %} error-input{% endif %}"
        >
        {%- if form.errors contains 'email' -%}
          <span id="RegisterForm-email-error" class="form__message form__message--error absolute bottom-0 left-0">
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}.
          </span>
        {%- endif -%}
      </div>
      <div class="field w-full relative pb-[1.8rem]">
        <input
          type="password"
          name="customer[password]"
          id="RegisterForm-password"
          aria-required="true"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="RegisterForm-password-error"
          {% endif %}
          placeholder="{{ 'customer.register.password' | t }}"
          class="default-input{% if form.errors contains 'password' %} error-input{% endif %}"
        >
        {%- if form.errors contains 'password' -%}
          <span id="RegisterForm-password-error" class="form__message form__message--error absolute bottom-0 left-0">
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}.
          </span>
        {%- endif -%}
      </div>
      <button class="btn-medium btn-primary w-full mt-3">
        {{ 'customer.register.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 55
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 160
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 185
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 185
    }
  ]
}
{% endschema %}
