{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}
{%- liquid
  assign title = section.settings.title
  assign icon = settings.logo_mobile
  assign text = section.settings.text
  assign image_1 = section.settings.image_1
  assign image_2 = section.settings.image_2
-%}

{% capture inline_icon %}
      {{- icon | image_url: width: 112 | image_tag: loading: 'lazy', class: 'hidden lg:inline-block translate-y-[-.9rem] mr-.5' -}}
      {{- icon | image_url: width: 76.77 | image_tag: loading: 'lazy', class: 'inline-block lg:hidden translate-y-[-.6rem] mr-.5' -}}
  {% endcapture %}
{%- if icon != blank and title contains '%icon%' %}
  {% assign title = title | replace: '%icon%', inline_icon %}
{% endif %}

<div class="newsletter section-padding color-{{ section.settings.color_scheme }}">
  <div class="container auto-rows-min lg:grid-rows-5">
    <div class="row-start-1 row-end-2 col-start-1 col-end-6 lg:col-start-2 lg:col-end-4 lg:row-end-3">
      {%- if image_1 != blank -%}
        {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
        {%- capture sizes -%}
          (min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
        {%- endcapture -%}
        {{ image_1 | image_url: width: 264 | image_tag: loading: 'lazy', sizes: sizes, widths: widths }}
      {%- endif -%}
    </div>
    <div class="col-start-2 col-end-10 row-start-2 row-end-3 row lg:col-start-4 lg:col-end-8 lg:row-start-2 lg:row-end-5">
      <div class="w-100 max-w-[43.7rem] mx-auto flex flex-col gap-[1.5rem]">
        <div class="flex flex-col gap-1 lg:gap-[4.5rem]">
          {%- if title != blank -%}
            <h2 class="text-center uppercase font-sans big-text lg:text-2xl first-line:font-serif">
              {{ title }}
            </h2>
          {%- endif -%}
          {%- if text != blank -%}
            <p class="font-sans text-ms md:text-base indent-10">{{ text }}</p>
          {%- endif -%}
        </div>
        <div {{ block.shopify_attributes }}>
          {% render 'newsletter-form', id: section.id %}
        </div>
      </div>
    </div>
    <div class="row-start-3 row-end-4 col-start-6 col-end-11 lg:col-start-8 lg:col-end-10 lg:row-start-3 lg:row-end-6">
      {%- if image_2 != blank -%}
        {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
        {%- capture sizes -%}
          (min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
        {%- endcapture -%}
        {{ image_2 | image_url: width: 264 | image_tag: loading: 'lazy', sizes: sizes, widths: widths }}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Left image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Right image"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title",
      "default": "Join the <br>%icon% family"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Lorem ipsum dolor sit amet consectetur. Massa sapien congue amet at. Massa sapien ut et ipsum volutpat eros. Elementum ultrices proin amet a in odio. Magna hendrerit orci venenatis sed enim eu. Parturient neque suspendisse nisi bibendum sollicitudin sed. Ultricies quis vel id bibendum. Gravida nunc egestas ultricies."
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-2"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name"
    }
  ]
}
{% endschema %}
