{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{%- liquid
  assign title_first = section.settings.title_first
  assign title_last = section.settings.title_last
  assign icon = section.settings.icon
  assign text = section.settings.text
  assign image_1 = section.settings.image_1
  assign image_2 = section.settings.image_2
-%}
<div class="newsletter">
  <div class="container xl:container auto-rows-min lg:grid-rows-5">
    <div class="row-start-1 row-end-2 col-start-1 col-end-6 lg:col-start-2 lg:col-end-4 lg:row-end-3">
      {%- if image_1 != blank -%}
        {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
        {%- capture sizes -%}
          (min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
        {%- endcapture -%}
        {{ image_1 | image_url: width: 264 | image_tag: loading: 'lazy', sizes: sizes, widths: widths }}
      {%- endif -%}
    </div>
    <div class="col-start-2 col-end-10 row-start-2 row-end-3 row lg:col-start-4 lg:col-end-8 lg:row-start-2 lg:row-end-5">
      <div class="w-100 max-w-[43.7rem] mx-auto">
        {%- if title_first != blank or title_last != blank or icon != blank -%}
          <h2 class="text-center uppercase">
            {%- if title_first != blank -%}
              <span class="font-serif big-text lg:text-2xl block">{{ title_first }}</span>
            {%- endif -%}
            {%- if title_last != blank or icon != blank -%}
              <span class="font-sans big-text lg:text-2xl block">
                {% if icon != blank -%}
                  {{-
                    icon
                    | image_url: width: 112
                    | image_tag: loading: 'lazy', class: 'hidden lg:inline-block translate-y-[-.9rem] mr-.5'
                  -}}
                  {{-
                    icon
                    | image_url: width: 76.77
                    | image_tag: loading: 'lazy', class: 'inline-block lg:hidden translate-y-[-.6rem] mr-.5'
                  -}}
                {%- endif -%}
                {{ title_last }}
              </span>
            {%- endif -%}
          </h2>
        {%- endif -%}
        {%- if text != blank -%}
          <p class="font-sans text-ms md:text-base indent-10 mb-[1.5rem]">{{ text }}</p>
        {%- endif -%}
        <div {{ block.shopify_attributes }}>
          {% form 'customer', class: 'newsletter-form' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="flex flex-wrap justify-center gap-2">
              <div class="fild w-full">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="border-b-2 w-full grow"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                  placeholder="{{ 'newsletter.label' | t }}"
                  required
                >
                {%- if form.errors -%}
                  <small class="text-xs text-[#FF0F0F]" id="Newsletter-error--{{ section.id }}">
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
                {%- if form.posted_successfully? -%}
                  <h3
                    class="text-xs text-[#18AC00]"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              </div>
              <button
                type="submit"
                class="btn border border-[#151515]"
                name="commit"
                id="Subscribe"
                style="--btn-text-color: #151515; --btn-text-color-hover: #151515; --btn-bg-color: transparent; --btn-bg-color-hover: transparent"
                aria-label="{{ 'newsletter.button_label' | t }}"
              >
                sign up
              </button>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
    <div class="row-start-3 row-end-4 col-start-6 col-end-11 lg:col-start-8 lg:col-end-10 lg:row-start-3 lg:row-end-6">
      {%- if image_2 != blank -%}
        {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
        {%- capture sizes -%}
          (min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
        {%- endcapture -%}
        {{ image_2 | image_url: width: 264 | image_tag: loading: 'lazy', sizes: sizes, widths: widths }}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Left image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Right image"
    },
    {
      "type": "text",
      "id": "title_first",
      "label": "Title first part",
      "default": "Join the"
    },
    {
      "type": "text",
      "id": "title_last",
      "label": "Title last part",
      "default": "FAMILY"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Lorem ipsum dolor sit amet consectetur. Massa sapien congue amet at. Massa sapien ut et ipsum volutpat eros. Elementum ultrices proin amet a in odio. Magna hendrerit orci venenatis sed enim eu. Parturient neque suspendisse nisi bibendum sollicitudin sed. Ultricies quis vel id bibendum. Gravida nunc egestas ultricies."
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name"
    }
  ]
}
{% endschema %}
