<script src="{{ 'newsletter-popup-component.js' | asset_url }}" defer="defer"></script>
{%- liquid
  assign title = section.settings.title | replace: '%br%', '<br>'
  assign text = section.settings.text
-%}

<newsletter-popup
  class="w-[30.3rem] lg:w-[38rem] fixed top-2/4 left-2/4 -translate-x-1/2 -translate-y-1/2 rounded-2xl color-{{ section.settings.color_scheme }} shadow-xl block aria-hidden:hidden"
  data-id="{{ section.id }}"
  aria-hidden="true"
>
  <div class="newsletter-popup relative pt-[3.5rem] pb-4 lg:py-2">
    <div class="w-[21rem] lg:w-[29.5rem] mx-auto flex flex-col gap-[1.83rem] lg:gap-[1.5rem]">
      {%- if title != blank or text != blank -%}
        <div class="flex flex-col gap-[.8rem] lg:gap-.5">
          {%- if title != blank -%}
            <h2 class="font-sans first-line:font-serif big-text lg:text-[2.6rem] lg:leading-[3rem] -tracking-[.02em] first-line:-tracking-[.05em] uppercase text-center">
              {{ title }}
            </h2>
          {%- endif -%}
          {%- if text != blank -%}
            <div class="max-w-[22.6rem] mx-auto font-serif text-base -tracking-[.05em] text-center">
              {{ text }}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="w-full">
        {%- render 'newsletter-form', id: 'popup', autofocus: true -%}
      </div>
    </div>
    <button class="absolute top-2 right-2" id="popupClose">
      <svg class="w-[1.5rem] h-[1.5rem]">
        <use href="#icon-close"></use>
      </svg>
    </button>
  </div>
</newsletter-popup>

{%- schema -%}
{
  "name": "Newsletter",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "join the%br%%icon% family"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "Keep up to date with everything we’re doing."
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-2"
    }
  ],
  "presets": [
    {
      "name": "Newsletter"
    }
  ]
}
{%- endschema -%}
