{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #shopify-section-{{ section.id }} {
    --color: #151515;
    --bg: #FFFEF7;
    --btn-color: #151515;
    --btn-bg: transparent;
    --btn-border: #151515;
    --btn-color-hover: #FFFEF7;
    --btn-bg-hover: #151515;
    --btn-border-hover: #151515;

  }
{%- endstyle -%}
{%- liquid
  assign title = section.settings.title
  assign icon = settings.logo_mobile
  assign text = section.settings.text
  assign image_1 = section.settings.image_1
  assign image_2 = section.settings.image_2
-%}

{% capture inline_icon %}
      {{- icon | image_url: width: 112 | image_tag: loading: 'lazy', class: 'hidden lg:inline-block translate-y-[-.9rem] mr-.5' -}}
      {{- icon | image_url: width: 76.77 | image_tag: loading: 'lazy', class: 'inline-block lg:hidden translate-y-[-.6rem] mr-.5' -}}
  {% endcapture %}
{%- if icon != blank and title contains '%icon%' %}
  {% assign title = title | replace: '%icon%', inline_icon %}
{% endif %}

<div class="newsletter text-[color:var(--color)] bg-[color:var(--bg)]">
  <div class="container xl:container auto-rows-min lg:grid-rows-5">
    <div class="row-start-1 row-end-2 col-start-1 col-end-6 lg:col-start-2 lg:col-end-4 lg:row-end-3">
      {%- if image_1 != blank -%}
        {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
        {%- capture sizes -%}
          (min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
        {%- endcapture -%}
        {{ image_1 | image_url: width: 264 | image_tag: loading: 'lazy', sizes: sizes, widths: widths }}
      {%- endif -%}
    </div>
    <div class="col-start-2 col-end-10 row-start-2 row-end-3 row lg:col-start-4 lg:col-end-8 lg:row-start-2 lg:row-end-5">
      <div class="w-100 max-w-[43.7rem] mx-auto flex flex-col gap-[1.5rem]">
        <div class="flex flex-col gap-1 lg:gap-[4.5rem]">
          {%- if title != blank -%}
            <h2 class="text-center uppercase font-sans big-text lg:text-2xl first-line:font-serif">
              {{ title }}
            </h2>
          {%- endif -%}
          {%- if text != blank -%}
            <p class="font-sans text-ms md:text-base indent-10">{{ text }}</p>
          {%- endif -%}
        </div>
        <div {{ block.shopify_attributes }}>
          {% form 'customer', class: 'newsletter-form' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="flex flex-wrap justify-center gap-2">
              <div class="fild w-full">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="
                    border-b w-full grow border-[color:var(--btn-border)] focus-visible:outline-none bg-transparent text-[color:var(--color)] placeholder:text-[#C5C5C5]
                    py-.5
                  "
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                  placeholder="{{ 'newsletter.label' | t }}"
                  required
                >
                {%- if form.errors -%}
                  <small class="text-xs text-[#FF0F0F]" id="Newsletter-error--{{ section.id }}">
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
                {%- if form.posted_successfully? -%}
                  <h3
                    class="text-xs text-[#18AC00]"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              </div>
              <button
                type="submit"
                class="
                  font-sans uppercase text-[1.4rem] leading-[2.2rem] tracking-[.02em] px-[3.6rem] pt-[.6rem] pb-[.4rem] rounded-2xl border text-[color:var(--btn-color)] bg-[color:var(--btn-bg)] border-[color:var(--btn-border)]
                  hover:text-[color:var(--btn-color-hover)] hover:bg-[color:var(--btn-bg-hover)] hover:border-[color:var(--btn-border-hover)] transition-all
                "
                name="commit"
                id="Subscribe"
                aria-label="{{ 'newsletter.button_label' | t }}"
              >
                sign up
              </button>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
    <div class="row-start-3 row-end-4 col-start-6 col-end-11 lg:col-start-8 lg:col-end-10 lg:row-start-3 lg:row-end-6">
      {%- if image_2 != blank -%}
        {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
        {%- capture sizes -%}
          (min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
        {%- endcapture -%}
        {{ image_2 | image_url: width: 264 | image_tag: loading: 'lazy', sizes: sizes, widths: widths }}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Left image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Right image"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title",
      "default": "Join the <br>%icon% family"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Lorem ipsum dolor sit amet consectetur. Massa sapien congue amet at. Massa sapien ut et ipsum volutpat eros. Elementum ultrices proin amet a in odio. Magna hendrerit orci venenatis sed enim eu. Parturient neque suspendisse nisi bibendum sollicitudin sed. Ultricies quis vel id bibendum. Gravida nunc egestas ultricies."
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name"
    }
  ]
}
{% endschema %}
