{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

{%- liquid
  assign overview = section.settings.overview | replace: '<div class="metafield-rich_text_field">', '' | replace: '</div>', '' | replace: '<p></p>', ''
  assign description_1 = section.settings.description_1 | replace: '<div class="metafield-rich_text_field">', '' | replace: '</div>', '' | replace: '<p></p>', ''
  assign description_2 = section.settings.description_2 | replace: '<div class="metafield-rich_text_field">', '' | replace: '</div>', '' | replace: '<p></p>', ''
  assign url = collections[section.settings.collection].url
  assign text = section.settings.text
-%}
<div class="producer-main section-padding color-{{ section.settings.color_scheme }} flex flex-col gap-y-2 lg:gap-y-13">
  {%- if overview != blank -%}
    <div class="w-full max-w-[115.6rem] mx-auto producer-overview px-2 lg:px-4">{{ overview }}</div>
  {%- endif -%}
  {%- if description_1 != blank or description_2 != blank -%}
    <div class="w-full max-w-[93rem] mx-auto producer-description px-[4.5rem] lg:px-6 grid grid-cols-6 gap-2">
      {%- if description_1 != blank -%}
        <div class="col-span-full lg:col-span-3 flex flex-col gap-2">
          {{ description_1 }}
          {%- if description_2 == blank and url != blank -%}
            {%- render 'btn-link', url: url, text: text, class: ' items-center' -%}
          {%- endif -%}
        </div>
      {%- endif -%}
      {%- if description_2 != blank -%}
        <div class="col-span-full lg:col-span-3 flex flex-col gap-2">
          {{ description_2 }}
          {%- if description_2 != blank and url != blank -%}
            {%- render 'btn-link', url: url, text: text, class: ' items-center' -%}
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>

{%- schema -%}
{
  "name": "Producer overview content",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "overview",
      "label": "Overview",
      "default": "<p>For nearly a decade, Damien Bonnet has been a pioneering lodestar of the renewal of Gaillac, one of France’s oldest winemaking appellations. Though nearly equidistant from the Atlantic and the Mediterranean coasts, Gaillac was heavily influenced by Bordeaux for the last half-century at the expense of its rich and rare collection of native grapes. Damien has tossed Cabernet aside to focus on food-friendly heirloom varieties like Braucol, Duras and Mauzac!</p>"
    },
    {
      "type": "richtext",
      "id": "description_1",
      "label": "Description column 1",
      "default": "<p>Since taking over in 2008, Damien has turned Domaine de Brin into one of the pioneering lodestars of the renewal of Gaillac. Under his father and previous generations, the family's 14 hectares of grapes were sold to the local cooperative. Damien decided from the outset to make his own wines, with the strong conviction to vinify mostly undersung local varietals like Braucol, Duras and Mauzac instead of the Cabernet Sauvignon plants his father had put in.</p>"
    },
    {
      "type": "richtext",
      "id": "description_2",
      "label": "Description column 2",
      "default": "<p>Since taking over in 2008, Damien has turned Domaine de Brin into one of the pioneering lodestars of the renewal of Gaillac. Under his father and previous generations, the family's 14 hectares of grapes were sold to the local cooperative. Damien decided from the outset to make his own wines, with the strong conviction to vinify mostly undersung local varietals like Braucol, Duras and Mauzac instead of the Cabernet Sauvignon plants his father had put in.</p>"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Button text",
      "default": "READ MORE"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 130
    }
  ]
}
{%- endschema -%}
