{%- liquid
  assign image = section.settings.image
  if section.settings.show_collection_image == true and image == blank and collection.image != blank
    assign image = collection.image
  endif
  assign image_mobile = section.settings.image_mobile
  if section.settings.image_mobile == blank
    assign image_mobile = image
  endif
-%}

{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  }
{%- endstyle -%}

<div class="section-padding color-{{ section.settings.color_scheme }} collection-hero{% if section.settings.show_collection_image %} collection-hero--with-image{% endif %} {{ collection.image }}">
  <div class="collection-hero__inner container">
    <div class="collection-hero__text-wrapper col-span-full text-center flex flex-col gap-2 lg:gap-6">
      <h1 class="collection-hero__title text-2xl lg:text-[8.8rem] -tracking-[.02em] lg:leading-[9rem] first-line:font-serif first-line:-tracking-[.05em] uppercase m-0">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        INTRODUCING <br>
        {{- collection.title | escape -}}
      </h1>

      {%- if image != blank and section.settings.show_collection_image -%}
        <div class="collection-hero__image-container col-span-full w-full max-w-[43.2rem] mx-auto">
          <img
            srcset="
              {%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if image.width >= 535 -%}{{ image | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if image.width >= 750 -%}{{ image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if image.width >= 1070 -%}{{ image | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if image.width >= 1500 -%}{{ image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ image | image_url }} {{ image.width }}w
            "
            src="{{ image | image_url: width: 750 }}"
            sizes="(min-width: {{ 1440 }}px) {{ 1440| minus: 40 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
            alt=""
            width="{{ image.width }}"
            height="{{ image.width | divided_by: image.aspect_ratio }}"
            class="hidden lg:block rounded-2xl"
          >
          <img
            srcset="
              {%- if image_mobile.width >= 165 -%}{{ image_mobile | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if image_mobile.width >= 360 -%}{{ image_mobile | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if image_mobile.width >= 535 -%}{{ image_mobile | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if image_mobile.width >= 750 -%}{{ image_mobile | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if image_mobile.width >= 1070 -%}{{ image_mobile | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if image_mobile.width >= 1500 -%}{{ image_mobile | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ image_mobile | image_url }} {{ image_mobile.width }}w
            "
            src="{{ image_mobile | image_url: width: 750 }}"
            sizes="(min-width: {{ 1440 }}px) {{ 1440| minus: 40 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
            alt=""
            width="{{ image_mobile.width }}"
            height="{{ image_mobile.width | divided_by: image_mobile.aspect_ratio }}"
            class="lg:hidden rounded-2xl"
          >
        </div>
      {%- endif -%}

      {%- if section.settings.show_collection_description and collection.description != blank -%}
        <div class="collection-hero__description rte font-serif text-xl leading-[2.6rem] -tracking-[.05em] lg:text-2xl lg:leading-[5.2rem] w-full max-w-4xl lg:max-w-[110rem] mx-auto">
          {{ collection.description }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.producer-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.producer-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.producer-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.producer-collection-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.producer-collection-banner.settings.image_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.producer-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.producer-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-2"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 15
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 105
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 85
    }
  ]
}
{% endschema %}
