{%- liquid
  assign title = section.settings.title
  assign icon = section.settings.icon
  assign image = section.settings.image
  assign mobile_image = section.settings.image_mobile
  assign btn = section.settings.btn
  assign btn_mobile = section.settings.btn_mobile
  assign url = section.settings.url
-%}

{% capture inline_icon %}
<span class="hidden lg:inline-block w-[247.112px] h-[60.7309px] translate-y-[.4rem] rotate-2"> 
<svg viewBox="0 0 247.112 60.7309" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-full">
  <g clip-path="url(#clip0_501_9216)">
  <path d="M85.6576 45.842C85.3264 45.7941 84.812 45.8828 84.4637 45.9776C84.1273 46.0728 83.7884 46.2396 83.4371 46.4178C83.0132 46.6293 82.5652 46.8518 82.0736 46.9652C81.2949 47.1279 80.4967 47.1704 79.7223 47.2138C79.4009 47.226 79.079 47.2501 78.7571 47.2742L78.3398 47.3067L78.2714 46.8982C78.0109 45.2408 79.1615 44.6617 80.0091 44.2389C80.2272 44.1274 80.4453 44.0159 80.6401 43.8917C83.5747 41.9925 85.5031 39.973 86.7088 37.557C87.363 36.2434 87.4258 34.8485 86.9044 33.1696C86.5751 32.0948 85.8633 31.4001 84.9406 31.2709C84.2783 31.1751 83.5567 31.3996 82.9083 31.9014C82.2357 32.4142 81.3657 33.1229 80.7165 33.9709C79.4173 35.6909 78.0636 37.6 76.4542 40.0013C75.7624 41.0389 74.9828 42.2046 73.4605 42.5432L73.3409 42.5627L73.2577 42.5597C72.9033 42.499 72.3041 41.9756 72.3206 41.5224C72.338 41.0454 72.592 40.6008 72.8188 40.2509C74.2563 37.9985 75.6265 35.6363 76.9343 33.3553C79.8285 28.326 82.8238 23.1331 86.9074 18.7442C87.3034 18.3168 87.4205 17.3896 87.1958 16.3783C86.9724 15.3312 86.4571 14.4645 85.9064 14.2415C85.8246 14.2026 85.7067 14.1745 85.5884 14.1582C85.2691 14.1107 84.9108 14.1574 84.6808 14.2684C84.2935 14.4573 83.9479 14.8029 83.5897 15.172L83.2934 15.4717C80.6186 18.073 77.9432 20.6862 75.2679 23.2994L72.8023 25.7053C68.7459 29.6772 64.5417 33.7871 59.7145 37.0503L59.5804 37.1409C58.5442 37.8435 58.0201 38.1946 57.4286 38.1133C56.7896 38.0303 56.3703 37.4657 55.5317 36.3365C55.0103 35.6368 54.4899 35.2357 53.9929 35.1698C53.4608 35.0907 52.891 35.3923 52.2483 36.0615C52.1617 36.1539 52.0866 36.2586 51.9995 36.3629C51.8998 36.4906 51.8004 36.6064 51.7011 36.7222L50.3283 38.1768C48.1023 40.5317 45.8768 42.8747 43.6398 45.2054C43.3436 45.5051 42.98 45.6948 42.6172 45.8607C42.4721 45.9271 42.3389 45.9939 42.2053 46.0726L41.0032 46.7572L41.5841 45.5006L41.7524 45.1246C41.8824 44.8189 42.012 44.5251 42.1768 44.2445C42.4299 43.8238 42.6716 43.3908 42.9133 42.9577C43.5611 41.823 44.2224 40.641 45.0223 39.5716C45.7102 38.6413 45.9811 37.7317 45.822 36.878C45.5937 35.6397 44.556 34.754 43.7189 34.2339C43.1264 33.854 42.4296 33.3987 41.8314 32.8514C40.9682 32.0676 40.4016 31.629 39.8928 31.5627C39.4315 31.4981 38.8889 31.7052 37.9024 32.3499L36.5997 33.1861C33.9579 34.881 31.2312 36.6206 28.8499 38.6713C24.4437 42.4514 19.5708 45.6651 14.8675 48.7895C13.1617 49.9215 11.4564 51.0415 9.77343 52.1982C9.17597 52.6063 8.50987 52.9403 7.88027 53.2517C7.58965 53.3963 7.29903 53.541 7.02028 53.686L6.00158 54.234L6.39824 53.1379C6.51684 52.8198 6.61214 52.4889 6.70699 52.17C6.93581 51.4379 7.1655 50.682 7.54693 50.0033C13.0928 40.4014 20.8521 31.3938 31.9428 21.6717C35.664 18.4159 39.3038 16.0887 43.0807 14.5665C45.5302 13.5811 47.9907 12.6199 50.4398 11.6464L53.9379 10.2694C54.5289 10.0401 54.8454 9.83673 54.899 9.6715C54.9526 9.50627 54.7985 9.16628 54.4368 8.65154C53.6008 7.45077 52.721 6.79772 51.7509 6.6668C51.3133 6.60308 50.8362 6.64539 50.3314 6.79416L50.0913 6.85706C48.3848 7.35609 46.6304 7.86531 44.9657 8.52111C39.3795 10.7535 32.9827 13.6967 27.7841 18.6659C24.1008 22.1858 19.7868 26.3752 15.7036 30.7522C10.7053 36.099 6.52295 41.8934 3.25802 47.9601C2.37829 49.5879 1.70663 51.3786 1.04858 53.122C0.74635 53.911 0.455992 54.7005 0.130013 55.4887C-0.0129881 57.4539 0.555297 58.824 1.96561 59.9263C2.62457 60.44 3.27949 60.7385 3.91806 60.8335C4.66349 60.9323 5.41892 60.7568 6.20897 60.2841C6.47628 60.1267 6.74359 59.9692 7.02277 59.8122C7.48441 59.5425 7.95748 59.285 8.39624 58.9906C9.28607 58.3901 10.164 57.7892 11.0543 57.1768C11.9692 56.5415 12.8836 55.918 13.8099 55.295C14.4804 54.8418 15.0031 54.5265 15.4996 54.6043C16.0555 54.6843 16.3948 55.1624 16.8559 55.8837C17.8002 57.3751 18.8529 58.1777 20.0834 58.342C20.8878 58.4549 21.7853 58.2966 22.7996 57.8679C23.5242 57.5599 24.2408 57.1442 24.9333 56.7396L25.249 56.56C25.8684 56.2005 26.4883 55.829 27.1082 55.4575C28.1779 54.8159 29.2845 54.1397 30.4118 53.5479C31.2604 53.1012 31.769 52.8451 32.2774 52.9233C32.8689 53.0046 33.2566 53.4606 34.0428 54.3968C34.9434 55.4566 35.7198 56.0104 36.489 56.1101C37.2582 56.2098 38.1494 55.896 39.321 55.067C41.1644 53.749 43.257 52.1176 44.8225 49.9416C45.1728 49.4648 45.6036 49.0625 46.0709 48.6377C46.6608 48.1099 47.2878 47.8701 47.9031 47.9522C48.1872 47.9864 48.4449 48.0914 48.7005 48.2559C49.1997 48.5846 49.68 48.7813 50.177 48.8472C51.5021 49.0268 52.6732 48.2098 53.8602 47.2858C54.7777 46.5788 55.6837 45.8595 56.5898 45.1403C57.4589 44.4555 58.3285 43.7587 59.2095 43.0743C62.1224 40.7922 65.0463 38.5344 67.9706 36.2647C68.1786 36.1051 68.4089 35.9821 68.6393 35.8591L68.9185 35.7021L69.6835 35.2643L69.5919 36.1447C69.5876 36.2639 69.5828 36.3951 69.578 36.5263C69.5659 36.8602 69.5634 37.2542 69.385 37.5821C68.8005 38.6116 68.2042 39.6407 67.6078 40.6699C66.7834 42.0847 65.9212 43.5579 65.1307 45.0218C64.4931 46.2047 63.5637 46.9112 62.2094 47.2081C61.9816 47.2595 61.7543 47.299 61.5265 47.3504C61.2033 47.4102 60.8801 47.4701 60.5556 47.5657C59.6186 47.8301 59.0071 48.2974 58.8802 48.8421C58.767 49.3395 59.0667 49.9237 59.712 50.4846C61.0379 51.6196 60.6746 52.4542 60.0686 53.4233L59.9679 53.5749C59.6023 54.1467 59.2362 54.7304 59.0838 55.3219C58.8468 56.2806 58.7262 57.3032 58.7623 58.2718C58.7712 58.6781 60.003 59.7858 60.8311 59.8996C60.9142 59.9026 60.9736 59.9048 60.9973 59.9057C61.3328 59.8343 61.826 59.3508 62.1824 58.707C63.325 56.7185 64.3976 54.6917 65.3739 52.6973C66.2215 50.9727 67.4506 49.8712 69.1466 49.3359C69.8562 49.111 70.5672 48.8504 71.2325 48.5402C71.9456 48.2199 72.5085 48.1091 73.0287 48.1878C73.7148 48.2845 74.3183 48.6886 74.8956 49.4859C76.04 51.0323 77.5747 51.9838 79.3374 52.2273C79.515 52.2457 79.6927 52.2641 79.8704 52.2825C82.5991 52.4417 85.6923 50.1065 86.1179 47.5665C86.2091 47.0205 86.0228 46.2614 85.7381 45.9166C85.7381 45.9166 85.7034 45.8915 85.5969 45.8756L85.6576 45.842ZM38.9669 39.6732L38.8403 39.8835C38.7388 40.0589 38.6241 40.2697 38.4633 40.4429C37.9925 40.9632 37.5446 41.5081 37.0967 42.053C36.0277 43.3276 34.9333 44.649 33.6224 45.7118C31.6744 47.2887 29.5316 48.6675 27.4618 50.0011C26.7676 50.4535 26.0738 50.8939 25.3915 51.3467C25.0992 51.539 24.7557 51.5026 24.4474 51.4794C24.3524 51.476 24.2456 51.4721 24.1624 51.4691L23.5912 51.484L23.7185 50.9274C23.733 50.8563 23.7475 50.7852 23.7501 50.7136C23.7825 50.476 23.8171 50.1787 24.0154 49.959C24.3371 49.6125 24.647 49.2656 24.9455 48.9063C25.814 47.9109 26.7195 46.8812 27.7724 46.0478C30.1353 44.1755 32.6148 42.3672 35.009 40.6155C35.7907 40.0469 36.5724 39.4784 37.3421 38.9094C37.6231 38.7046 37.9463 38.6448 38.2338 38.5836L38.3776 38.553L38.4489 38.5556C38.7325 38.6018 38.8193 38.8319 38.9165 39.0981L39.0693 39.4739L38.9432 39.6723L38.9669 39.6732Z" fill="currentColor"/>
  <path d="M183.828 31.8319C183.684 30.2384 182.971 29.269 181.811 29.1073C181.303 29.041 180.729 29.1275 180.102 29.3555C178.776 29.8564 177.489 30.5857 176.36 31.2371C175.886 31.5065 175.512 31.66 175.074 31.6082C174.719 31.5594 174.381 31.368 173.955 30.9942C173.333 30.4461 172.914 30.192 172.595 30.1445C172.169 30.0812 171.716 30.4468 170.941 31.4933C170.603 31.9467 170.288 32.4368 169.973 32.9149C169.608 33.4748 169.243 34.0347 168.843 34.5575C166.348 37.7863 163.407 40.4973 160.073 42.6088L159.087 43.2296L159.742 40.9129C160.056 39.8138 160.369 38.7146 160.671 37.6031C160.753 37.3195 160.834 37.0478 160.928 36.7646C161.156 36.0564 161.37 35.3836 161.358 34.7383C161.339 33.3165 161.166 31.8653 160.98 30.4494L160.851 29.4177C160.715 28.2425 160.334 27.6076 159.743 27.5263C159.34 27.4758 158.775 27.6463 158.131 28.0407C155.979 29.3356 154.138 30.582 152.522 31.8606C150.234 33.652 147.93 35.5264 145.712 37.3442C144.217 38.5675 142.722 39.7907 141.216 40.9896C139.807 42.1205 138.317 43.2006 136.876 44.2467L136.632 44.4289C136.388 44.5991 136.09 44.6002 135.852 44.6035C135.781 44.6009 135.71 44.5983 135.638 44.6076L135.173 44.6623L135.142 44.1954C135.145 44.1239 135.124 44.0515 135.114 43.9795C135.064 43.7269 135.016 43.4146 135.181 43.134C135.522 42.5733 135.852 42.0002 136.194 41.4394C137.106 39.8845 138.045 38.2827 139.202 36.8799C140.122 35.7671 141.205 34.7676 142.238 33.8142C143.124 32.9986 144.046 32.1605 144.841 31.2461C147.036 28.7586 149.211 26.175 151.311 23.6841C152.529 22.2358 153.747 20.7756 154.976 19.3396C155.362 18.888 155.793 18.4619 156.213 18.0353C156.867 17.3785 157.484 16.7681 157.962 16.0571C158.753 14.8918 159.419 13.5905 160.071 12.3365C160.327 11.8443 160.582 11.3521 160.838 10.8718C161.131 10.3331 161.054 9.18393 160.633 8.01024C160.245 6.9094 159.658 6.05208 159.119 5.82942C159.014 5.77782 158.884 5.74921 158.742 5.73209C158.435 5.68505 158.089 5.70827 157.812 5.80564C157.319 5.96678 156.784 6.28165 156.257 6.71621C152.947 9.47343 150.248 12.3843 148.027 15.5873C145.881 18.6855 143.759 21.7846 141.624 24.8952C139.552 27.9126 137.481 30.9299 135.397 33.9349C134.744 34.8903 134.258 35.5055 133.631 35.411C133.076 35.331 132.728 34.769 132.117 33.5884L131.894 33.1623C131.384 32.1525 130.851 31.118 130.092 30.4216C129.459 29.8492 129.202 29.3861 129.208 28.9086C129.229 28.3242 129.662 27.8743 130.091 27.5198C132.605 25.4142 134.636 22.873 136.844 20.0159C139.627 16.4035 140.163 11.1806 138.106 7.59475C137.424 6.39961 136.522 5.70992 135.421 5.56231C134.747 5.46608 133.97 5.58104 133.127 5.88466C131.862 6.34008 130.95 7.2144 129.977 8.13426C129.448 8.64037 128.906 9.15798 128.295 9.60144L127.904 9.89766C127.158 10.4675 126.375 11.06 125.49 11.2068C124.389 11.3936 123.893 11.9606 123.307 13.0259C119.208 20.4594 114.452 27.6301 109.859 34.5799C108.752 36.2472 107.657 37.903 106.562 39.5707C105.644 40.9583 104.702 42.333 103.748 43.6954C102.795 45.0698 101.841 46.4322 100.934 47.8321C100.117 49.0681 99.3897 50.4149 98.6884 51.7149L98.2551 52.5111C97.6566 53.5998 97.6768 54.6753 98.3109 55.5463C99.681 57.4234 100.907 58.3518 102.303 58.546C103.486 58.7085 104.879 58.3413 106.661 57.4032L107.301 57.1161L107.297 57.2354C107.418 57.192 107.538 57.1605 107.658 57.1291C108.331 56.9148 109.004 56.7125 109.668 56.4501L110.09 56.2863C111.55 55.7067 113.058 55.1168 114.797 55.3474C114.998 55.3786 115.187 55.4094 115.493 55.4803C116.132 55.5633 117.075 55.1558 117.626 54.7221C118.396 54.1293 119.202 53.5615 120.007 53.0058C121.726 51.8146 123.495 50.5894 124.886 48.9564C125.557 48.1688 126.435 47.5798 127.288 47.0019C127.556 46.8206 127.836 46.6398 128.093 46.4461C128.374 46.2414 128.65 46.156 128.911 46.1893C129.36 46.2535 129.666 46.6587 129.727 47.2819C129.743 47.4974 129.735 47.724 129.703 47.9498C129.697 48.1048 129.667 48.2709 129.685 48.4268C129.834 50.1996 130.929 51.4934 132.467 51.7047C133.212 51.8035 134.015 51.6417 134.767 51.2154C135.386 50.8678 135.964 50.3396 136.517 49.8462L136.69 49.6853C137.218 49.215 137.723 48.7319 138.24 48.2492C138.905 47.6285 139.558 46.9956 140.245 46.3997C140.614 46.0787 141.039 45.8435 141.451 45.6197C141.621 45.5184 141.803 45.4295 141.973 45.3282L142.387 45.0686L142.851 46.017C143.039 46.406 143.239 46.7954 143.403 47.1836C143.95 48.4813 144.778 49.2519 145.796 49.3845C146.482 49.4812 147.226 49.2934 148.016 48.8325C148.696 48.4275 149.368 47.9385 150.004 47.4601C150.26 47.2664 150.517 47.0728 150.785 46.8915C151.957 46.0506 152.543 45.6301 153.123 45.7109C153.821 45.808 154.106 46.4752 154.718 47.9544C155.21 49.1307 156.109 49.9039 157.186 50.0506C158.037 50.1653 158.952 49.8762 159.76 49.2369C159.943 49.0884 160.14 48.9164 160.325 48.7321C160.928 48.169 161.555 47.5947 162.294 47.562C162.377 47.565 162.448 47.5676 162.531 47.5706C163.087 47.6506 163.594 48.0871 164.079 48.4988C164.321 48.7106 164.563 48.9105 164.795 49.0742C165.434 49.4797 165.819 49.6729 166.115 49.7195C166.458 49.7678 166.761 49.6117 167.451 48.6218L167.677 48.2956C168.128 47.6553 168.604 46.9801 168.927 46.2873C170.516 42.8105 173.1 40.0865 175.598 37.4429L176.266 36.7388C176.526 36.4617 176.888 36.3077 177.202 36.1759C177.323 36.1206 177.456 36.0657 177.565 36.01L178.244 35.6526L178.216 36.4159C178.211 36.559 178.229 36.703 178.235 36.8584C178.257 37.2294 178.277 37.66 178.121 38.0484C177.507 39.5426 176.871 41.0241 176.246 42.5179C175.609 44.0112 174.972 45.4927 174.358 46.9988C174.006 47.8458 173.823 48.6273 173.798 49.307C173.768 50.1299 175.12 51.5406 176.149 51.6736C176.957 51.6912 177.14 51.244 177.459 50.3361C177.512 50.1828 177.565 50.0176 177.63 49.8647L178.064 48.7341C179.612 44.7424 181.201 40.6207 182.963 36.6487C183.65 35.0974 183.895 33.5898 183.743 31.8885L183.828 31.8319ZM145.729 44.0561C146.721 42.9339 147.645 41.7137 148.785 40.7761C151.347 38.6722 154.022 36.7158 156.651 34.71C156.823 34.5729 157.074 34.5343 157.301 34.4829C157.325 34.4838 157.4 34.7134 157.455 34.8467C157.329 35.0451 157.237 35.2806 157.088 35.4543C155.785 36.9473 154.629 38.6367 153.133 39.8838C151.024 41.6578 148.664 43.1122 146.384 44.6651C146.189 44.8013 145.836 44.6929 145.562 44.7068C145.618 44.4819 145.593 44.1944 145.729 44.0561ZM135.467 11.8095C134.653 14.5622 133.39 16.9284 131.628 18.942C129.123 21.7883 126.444 24.4849 123.801 27.2068C123.356 27.6682 122.715 27.9673 122.122 28.2561C121.42 28.6007 120.673 28.8601 119.949 29.1561C120.239 28.3785 120.424 27.5374 120.831 26.8238C121.491 25.6657 122.302 24.6086 123.021 23.4884C124.256 21.575 125.573 19.7004 126.656 17.6979C128.301 14.653 130.94 12.7072 133.694 10.8612C134.024 10.6343 134.55 10.558 134.975 10.6213C135.059 10.6243 135.129 10.6507 135.2 10.6653C135.4 10.7203 135.395 11.4964 135.467 11.8095ZM104.884 53.6484C104.588 53.6138 104.283 53.4832 103.976 53.4362C104.048 53.0925 104.039 52.6862 104.216 52.406C106.561 48.718 108.931 45.0428 111.311 41.3918C111.613 40.9252 112.023 40.4624 112.485 40.1807C116.46 37.7821 120.259 35.0069 125.016 34.3206C125.673 34.2251 126.329 34.1655 126.843 34.1006C126.938 34.1041 127.033 34.1075 127.116 34.1106C127.98 34.2256 128.209 34.7952 127.912 35.4293C127.101 37.1312 126.38 38.9679 125.187 40.3812C122.727 43.2889 119.787 45.6656 116.548 47.7447C113.504 49.7116 110.318 51.3389 107.075 52.8924C106.482 53.1813 105.876 53.4936 105.241 53.6376C105.121 53.669 104.99 53.6643 104.86 53.6476L104.884 53.6484Z" fill="currentColor"/>
  <path d="M215.346 45.2215C215.039 45.1744 214.67 45.1729 214.229 45.2165C214.073 45.2348 213.943 45.23 213.825 45.2018C213.316 45.1355 213.306 44.7649 213.48 44.222C214.03 42.4986 214.675 40.8025 215.107 39.0509C215.427 37.7848 215.63 36.4428 215.582 35.1513C215.483 32.6638 215.194 31.7696 213.562 31.5429C213.113 31.4787 212.566 31.4707 211.9 31.4823C211.745 31.4766 211.603 31.4714 211.484 31.4671C210.857 31.3845 210.812 31.0007 211.241 30.3118C211.493 29.915 211.711 29.4811 211.952 29.072C213.983 25.5277 216.004 21.9711 218.047 18.4392C218.58 17.5153 219.028 16.636 218.606 15.4861C218.207 14.3729 217.819 13.2602 216.52 13.0337C216.496 13.0328 216.472 13.0319 216.437 13.0306C215.147 12.8522 214.841 14.083 214.312 14.8996C211.449 19.3809 208.598 23.8744 205.771 28.3808C205.177 29.3384 204.711 30.3842 204.21 31.4049C203.62 32.6014 203.111 33.8367 202.474 34.9957C200.462 38.6601 198.403 42.2989 196.379 45.9628C195.106 48.257 195.449 49.6308 197.477 51.0542C197.79 51.2806 198.095 51.4111 198.39 51.4577C198.781 51.5077 199.154 51.39 199.523 51.0452C200.003 50.597 200.403 50.0503 200.837 49.5527C202.823 47.2606 204.787 44.9319 206.83 42.6898C207.425 42.0308 208.296 41.6207 209.04 41.0985C209.055 42.0066 209.057 42.9143 209.072 43.8224C208.989 43.8194 208.906 43.8163 208.822 43.8133C208.739 45.1358 208.583 46.4676 208.57 47.7926C208.555 49.846 209.755 51.1676 211.498 51.9595C211.697 52.0504 211.944 52.1191 212.204 52.1525C212.713 52.2188 213.262 52.1672 213.614 51.9531C215.292 50.9396 216.451 49.4653 216.622 47.3936C216.732 46.0005 216.4 45.3316 215.312 45.1844L215.346 45.2215Z" fill="currentColor"/>
  <path d="M247.381 46.4016C247.245 46.2056 246.917 46.0862 246.561 46.0493C246.325 46.0168 246.087 46.0201 245.895 46.0489C243.002 46.4927 240.138 47.1167 237.247 47.489C235.408 47.7204 233.548 47.8556 231.703 47.5973C231.016 47.5006 230.32 47.3558 229.639 47.1399C228.722 46.8437 228.455 46.3325 228.917 45.4178C229.889 43.5188 231.636 42.5674 233.406 41.6408C234.994 40.8031 236.615 40.0263 238.182 39.14C240.294 37.9512 241.429 36.1536 240.734 33.6921C240.451 32.6668 239.675 31.7548 239.042 30.86C238.669 30.3448 238.286 30.0681 237.801 30.0027C237.411 29.9526 236.956 30.0316 236.402 30.2382C233.366 31.3336 231.288 33.5268 229.465 35.9322C227.903 37.989 226.09 39.4752 223.704 40.3436C223.005 40.5928 222.301 40.9851 221.771 41.5031C220.514 42.7111 220.639 43.8621 221.913 45.1147C222.567 45.7595 223.327 46.444 223.618 47.2547C224.936 50.8853 227.607 52.6306 231.117 53.2243C235.337 53.5693 239.381 53.1913 243.354 52.1779C246.582 51.3522 246.633 51.2585 247.673 48.1797C247.846 47.6605 247.685 46.8546 247.369 46.4012L247.381 46.4016Z" fill="currentColor"/>
  <path d="M197.039 36.35C197.838 36.2955 198.536 36.0463 198.678 35.0962C198.952 33.1358 197.725 31.5625 195.927 31.3059C195.608 31.2584 195.275 31.2582 194.928 31.3053C192.91 31.5541 190.996 32.1889 189.552 33.6528C187.614 35.6003 185.734 37.6096 184.003 39.7437C182.683 41.3794 181.956 43.383 181.712 45.5116C181.445 47.9618 183.189 50.0197 185.401 50.3273C185.957 50.4072 186.541 50.3688 187.13 50.1992C192.343 48.7295 193.765 45.6048 194.495 40.5682C194.528 40.3186 194.404 39.8125 194.333 39.798C194.001 39.7859 193.596 39.795 193.328 39.9763C191.486 41.2585 189.666 42.5893 187.835 43.8959C187.875 43.4555 187.81 42.9396 188.035 42.6493C190.392 39.6423 192.76 36.6358 197.027 36.3496L197.039 36.35Z" fill="currentColor"/>
  </g>
  <defs>
  <clipPath id="clip0_501_9216">
  <rect width="247.112" height="60.7309" fill="currentColor" transform="translate(2.21289) rotate(2.08849)"/>
  </clipPath>
  </defs>
  </svg>
</span>
<span class="inline-block lg:hidden w-[155.622px] h-[38.2462px] translate-y-[.2rem] rotate-2"> 
  <svg viewBox="0 0 155.622 38.2462" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-full">
    <g clip-path="url(#clip0_382_10124)">
    <path d="M54.0677 29.1945C53.8591 29.1644 53.5351 29.2202 53.3158 29.2799C53.104 29.3399 52.8905 29.4449 52.6692 29.5572C52.4023 29.6903 52.1202 29.8304 51.8106 29.9019C51.3202 30.0043 50.8175 30.0311 50.3298 30.0584C50.1274 30.0661 49.9247 30.0813 49.722 30.0964L49.4591 30.1169L49.4161 29.8597C49.252 28.8159 49.9766 28.4512 50.5105 28.1849C50.6478 28.1147 50.7851 28.0445 50.9078 27.9663C52.7559 26.7702 53.9703 25.4984 54.7296 23.9769C55.1417 23.1497 55.1812 22.2712 54.8529 21.2139C54.6454 20.537 54.1972 20.0995 53.6161 20.0182C53.199 19.9578 52.7446 20.0992 52.3362 20.4152C51.9126 20.7382 51.3648 21.1844 50.9559 21.7185C50.1377 22.8017 49.2852 24.004 48.2717 25.5162C47.836 26.1697 47.345 26.9038 46.3863 27.117L46.311 27.1293L46.2587 27.1274C46.0354 27.0892 45.6581 26.7596 45.6685 26.4742C45.6795 26.1738 45.8394 25.8938 45.9822 25.6734C46.8875 24.255 47.7504 22.7673 48.574 21.3309C50.3967 18.1635 52.283 14.8932 54.8547 12.1292C55.1041 11.8601 55.1778 11.2762 55.0363 10.6393C54.8957 9.97989 54.5711 9.4341 54.2243 9.29361C54.1728 9.26917 54.0986 9.25142 54.0241 9.24119C53.823 9.21129 53.5973 9.24066 53.4525 9.31059C53.2086 9.42954 52.991 9.64722 52.7654 9.87964L52.5788 10.0684C50.8942 11.7066 49.2094 13.3523 47.5246 14.998L45.9719 16.5131C43.4172 19.0145 40.7696 21.6028 37.7296 23.6578L37.6452 23.7149C36.9926 24.1573 36.6626 24.3784 36.29 24.3273C35.8876 24.275 35.6236 23.9194 35.0954 23.2083C34.767 22.7676 34.4393 22.515 34.1264 22.4735C33.7912 22.4237 33.4324 22.6137 33.0277 23.0351C32.9731 23.0933 32.9258 23.1592 32.871 23.2249C32.8082 23.3054 32.7456 23.3783 32.6831 23.4512L31.8185 24.3672C30.4167 25.8503 29.0151 27.3258 27.6064 28.7936C27.4198 28.9823 27.1908 29.1018 26.9624 29.2063C26.871 29.2481 26.7871 29.2902 26.7029 29.3397L25.9459 29.7709L26.3117 28.9795L26.4177 28.7427C26.4996 28.5502 26.5812 28.3651 26.685 28.1884C26.8444 27.9235 26.9966 27.6508 27.1488 27.3781C27.5567 26.6635 27.9732 25.9191 28.477 25.2456C28.9102 24.6598 29.0808 24.0869 28.9806 23.5493C28.8369 22.7695 28.1833 22.2117 27.6562 21.8841C27.283 21.6449 26.8442 21.3582 26.4674 21.0135C25.9239 20.5199 25.5671 20.2437 25.2466 20.2019C24.9561 20.1612 24.6144 20.2917 23.9931 20.6977L23.1727 21.2243C21.509 22.2917 19.7919 23.3872 18.2922 24.6787C15.5173 27.0592 12.4485 29.0831 9.48658 31.0508C8.41232 31.7636 7.33835 32.469 6.2785 33.1974C5.90224 33.4544 5.48276 33.6647 5.08625 33.8609C4.90323 33.952 4.72021 34.043 4.54466 34.1344L3.90313 34.4795L4.15292 33.7892C4.22762 33.5889 4.28763 33.3805 4.34737 33.1796C4.49147 32.7186 4.63612 32.2426 4.87633 31.8152C8.3689 25.7682 13.2555 20.0955 20.24 13.9729C22.5835 11.9225 24.8757 10.4569 27.2543 9.49832C28.7969 8.87773 30.3464 8.27244 31.8887 7.65936L34.0917 6.79212C34.4639 6.64777 34.6632 6.51967 34.697 6.41561C34.7307 6.31156 34.6337 6.09744 34.4059 5.77328C33.8794 5.01707 33.3254 4.60581 32.7144 4.52336C32.4388 4.48323 32.1383 4.50988 31.8205 4.60357L31.6693 4.64318C30.5946 4.95745 29.4897 5.27814 28.4414 5.69114C24.9234 7.09702 20.8949 8.95055 17.621 12.08C15.3014 14.2967 12.5845 16.935 10.0131 19.6915C6.86537 23.0587 4.23146 26.7078 2.17533 30.5284C1.6213 31.5536 1.19831 32.6813 0.7839 33.7792C0.593565 34.2761 0.410708 34.7733 0.205418 35.2697C0.115361 36.5073 0.473247 37.3701 1.36141 38.0643C1.7764 38.3878 2.18885 38.5758 2.591 38.6356C3.06044 38.6978 3.53619 38.5873 4.03373 38.2896C4.20207 38.1905 4.37041 38.0913 4.54623 37.9925C4.83696 37.8226 5.13488 37.6605 5.4112 37.475C5.97158 37.0969 6.52448 36.7184 7.08513 36.3328C7.66129 35.9326 8.23717 35.54 8.82053 35.1477C9.24275 34.8623 9.57196 34.6637 9.88465 34.7127C10.2347 34.7631 10.4484 35.0641 10.7388 35.5184C11.3335 36.4576 11.9964 36.9631 12.7714 37.0666C13.2779 37.1377 13.8431 37.038 14.4819 36.768C14.9382 36.574 15.3896 36.3122 15.8256 36.0574L16.0244 35.9443C16.4146 35.7179 16.805 35.484 17.1954 35.25C17.869 34.8459 18.5659 34.4201 19.2758 34.0474C19.8102 33.7661 20.1306 33.6048 20.4507 33.6541C20.8232 33.7053 21.0673 33.9924 21.5625 34.582C22.1297 35.2495 22.6186 35.5982 23.103 35.661C23.5874 35.7238 24.1487 35.5262 24.8865 35.0041C26.0474 34.174 27.3652 33.1467 28.3512 31.7763C28.5718 31.476 28.8431 31.2227 29.1374 30.9552C29.5089 30.6228 29.9037 30.4717 30.2912 30.5234C30.4701 30.545 30.6324 30.6111 30.7934 30.7147C31.1078 30.9217 31.4103 31.0456 31.7232 31.0871C32.5577 31.2002 33.2953 30.6856 34.0428 30.1037C34.6206 29.6585 35.1912 29.2056 35.7618 28.7526C36.3091 28.3213 36.8567 27.8825 37.4116 27.4515C39.246 26.0144 41.0874 24.5925 42.929 23.163C43.06 23.0625 43.2051 22.9851 43.3501 22.9077L43.526 22.8088L44.0077 22.5331L43.9501 23.0875C43.9473 23.1626 43.9443 23.2452 43.9413 23.3278C43.9336 23.5381 43.9321 23.7862 43.8197 23.9927C43.4517 24.6411 43.0761 25.2892 42.7006 25.9373C42.1814 26.8283 41.6384 27.7561 41.1405 28.678C40.739 29.4229 40.1537 29.8678 39.3008 30.0548C39.1574 30.0872 39.0142 30.1121 38.8708 30.1444C38.6672 30.1821 38.4637 30.2198 38.2593 30.2801C37.6692 30.4466 37.2841 30.7409 37.2042 31.0839C37.1329 31.3971 37.3216 31.765 37.7281 32.1182C38.5631 32.8331 38.3342 33.3587 37.9526 33.9689L37.8892 34.0644C37.6589 34.4245 37.4284 34.7921 37.3324 35.1646C37.1831 35.7684 37.1072 36.4123 37.1299 37.0223C37.1356 37.2782 37.9113 37.9758 38.4328 38.0475C38.4851 38.0494 38.5225 38.0508 38.5375 38.0513C38.7488 38.0064 39.0594 37.7018 39.2838 37.2964C40.0034 36.0442 40.6789 34.7678 41.2937 33.5117C41.8275 32.4257 42.6016 31.7319 43.6696 31.3949C44.1165 31.2532 44.5643 31.0891 44.9832 30.8938C45.4323 30.6921 45.7868 30.6223 46.1144 30.6718C46.5465 30.7327 46.9266 30.9872 47.2901 31.4893C48.0108 32.4631 48.9773 33.0624 50.0874 33.2157C50.1993 33.2273 50.3112 33.2389 50.4231 33.2505C52.1415 33.3508 54.0895 31.8801 54.3575 30.2805C54.415 29.9367 54.2976 29.4586 54.1184 29.2415C54.1184 29.2415 54.0965 29.2257 54.0295 29.2157L54.0677 29.1945ZM24.6635 25.3096L24.5838 25.4421C24.5199 25.5525 24.4477 25.6853 24.3463 25.7944C24.0499 26.122 23.7678 26.4652 23.4857 26.8083C22.8125 27.611 22.1233 28.4432 21.2977 29.1125C20.071 30.1056 18.7215 30.9739 17.418 31.8138C16.9808 32.0987 16.5439 32.376 16.1142 32.6612C15.9301 32.7823 15.7138 32.7594 15.5197 32.7448C15.4598 32.7426 15.3925 32.7401 15.3402 32.7382L14.9804 32.7477L15.0606 32.3971C15.0697 32.3523 15.0789 32.3076 15.0805 32.2625C15.1009 32.1128 15.1227 31.9256 15.2476 31.7873C15.4502 31.569 15.6454 31.3505 15.8333 31.1243C16.3803 30.4975 16.9505 29.8489 17.6136 29.3241C19.1017 28.145 20.6632 27.0062 22.171 25.9031C22.6633 25.545 23.1555 25.1869 23.6403 24.8286C23.8172 24.6997 24.0207 24.662 24.2019 24.6234L24.2924 24.6042L24.3373 24.6058C24.5159 24.6349 24.5705 24.7798 24.6318 24.9475L24.728 25.1841L24.6486 25.309L24.6635 25.3096Z" fill="currentColor"/>
    <path d="M115.893 20.3714C115.802 19.3679 115.353 18.7574 114.623 18.6556C114.302 18.6138 113.941 18.6683 113.546 18.8118C112.711 19.1273 111.901 19.5866 111.189 19.9968C110.891 20.1665 110.656 20.2632 110.38 20.2305C110.156 20.1998 109.943 20.0793 109.675 19.8438C109.283 19.4987 109.02 19.3386 108.818 19.3087C108.55 19.2689 108.265 19.4991 107.777 20.1582C107.564 20.4437 107.366 20.7523 107.167 21.0534C106.937 21.406 106.707 21.7586 106.456 22.0879C104.884 24.1213 103.032 25.8285 100.932 27.1583L100.312 27.5493L100.724 26.0903C100.922 25.3981 101.119 24.7059 101.309 24.0059C101.361 23.8273 101.412 23.6562 101.471 23.4779C101.614 23.0319 101.75 22.6081 101.742 22.2018C101.73 21.3064 101.621 20.3924 101.504 19.5007L101.422 18.851C101.337 18.1109 101.097 17.7111 100.725 17.6599C100.471 17.6281 100.115 17.7355 99.7095 17.9839C98.3545 18.7993 97.1952 19.5843 96.1775 20.3895C94.7362 21.5176 93.2855 22.6981 91.8885 23.8429C90.9469 24.6132 90.0054 25.3836 89.0569 26.1386C88.1698 26.8508 87.2315 27.531 86.324 28.1898L86.1701 28.3045C86.0164 28.4117 85.8292 28.4124 85.6794 28.4145C85.6345 28.4128 85.5896 28.4112 85.5445 28.4171L85.2512 28.4515L85.232 28.1575C85.2336 28.1125 85.2203 28.0668 85.2145 28.0215C85.1828 27.8624 85.1526 27.6658 85.2564 27.4891C85.4714 27.1359 85.6792 26.775 85.8943 26.4219C86.4691 25.4426 87.06 24.4339 87.7885 23.5505C88.3681 22.8496 89.05 22.2202 89.7009 21.6198C90.2587 21.1061 90.8395 20.5783 91.3397 20.0025C92.7221 18.436 94.0918 16.8089 95.4144 15.2402C96.1814 14.3281 96.9487 13.4085 97.723 12.5042C97.9655 12.2198 98.2373 11.9514 98.5017 11.6828C98.9136 11.2692 99.302 10.8847 99.6029 10.437C100.101 9.7031 100.521 8.88362 100.931 8.0939C101.092 7.78392 101.253 7.47393 101.414 7.17146C101.599 6.83225 101.55 6.10852 101.285 5.36937C101.041 4.6761 100.671 4.13618 100.332 3.99596C100.266 3.96347 100.184 3.94545 100.095 3.93466C99.901 3.90504 99.6833 3.91967 99.5088 3.98099C99.1981 4.08247 98.8615 4.28076 98.5295 4.55443C96.4446 6.29083 94.7454 8.12402 93.3466 10.1411C91.9951 12.0923 90.6585 14.044 89.3142 16.0029C88.0094 17.9031 86.7047 19.8034 85.3927 21.6958C84.9815 22.2975 84.6753 22.6849 84.2806 22.6254C83.9306 22.575 83.7114 22.2211 83.3267 21.4776L83.1867 21.2092C82.8655 20.5733 82.5298 19.9218 82.0516 19.4833C81.653 19.1228 81.4914 18.8311 81.4949 18.5304C81.5083 18.1624 81.7807 17.879 82.0509 17.6558C83.6342 16.3297 84.913 14.7294 86.3039 12.9301C88.0566 10.6551 88.3937 7.36596 87.0983 5.10771C86.669 4.35505 86.1009 3.9207 85.4079 3.82775C84.9833 3.76714 84.494 3.83954 83.9629 4.03075C83.1662 4.31756 82.5921 4.86817 81.9794 5.44747C81.6459 5.7662 81.3045 6.09217 80.92 6.37145L80.6736 6.55799C80.2037 6.91688 79.7109 7.28997 79.1535 7.38245C78.4603 7.50006 78.1478 7.85717 77.7789 8.52808C75.1972 13.2094 72.2022 17.7253 69.3097 22.102C68.6125 23.152 67.9231 24.1947 67.2333 25.245C66.6549 26.1189 66.0617 26.9846 65.4614 27.8426C64.8608 28.7082 64.2604 29.5661 63.6892 30.4478C63.1741 31.2262 62.7164 32.0743 62.2747 32.893L62.0019 33.3944C61.6249 34.0801 61.6377 34.7574 62.037 35.3059C62.8999 36.488 63.6722 37.0727 64.5513 37.195C65.2963 37.2973 66.1733 37.0661 67.2955 36.4753L67.6989 36.2945L67.6962 36.3696C67.7721 36.3423 67.8477 36.3225 67.9233 36.3027C68.3475 36.1677 68.7714 36.0403 69.1893 35.8751L69.4551 35.7719C70.3744 35.4069 71.3239 35.0354 72.4193 35.1806C72.5458 35.2003 72.6649 35.2197 72.858 35.2643C73.2604 35.3166 73.8538 35.06 74.2007 34.7869C74.686 34.4135 75.1932 34.056 75.7002 33.7059C76.7833 32.9558 77.8971 32.1842 78.7732 31.1558C79.1956 30.6598 79.7483 30.2889 80.2857 29.9249C80.4545 29.8108 80.6309 29.6969 80.7926 29.5749C80.9695 29.446 81.1437 29.3922 81.3077 29.4132C81.5907 29.4536 81.7836 29.7088 81.8217 30.1013C81.8317 30.237 81.8265 30.3797 81.8063 30.5219C81.8028 30.6195 81.784 30.7241 81.7954 30.8223C81.8894 31.9387 82.5785 32.7535 83.547 32.8866C84.0165 32.9488 84.5219 32.8469 84.9959 32.5784C85.3857 32.3595 85.7498 32.0269 86.098 31.7162L86.2066 31.6149C86.5393 31.3187 86.8574 31.0144 87.183 30.7104C87.6016 30.3196 88.0129 29.9209 88.4459 29.5457C88.6779 29.3436 88.9454 29.1954 89.2051 29.0544C89.3123 28.9907 89.4266 28.9347 89.5338 28.8709L89.7943 28.7074L90.087 29.3047C90.2053 29.5497 90.3312 29.7949 90.4346 30.0393C90.7792 30.8566 91.3006 31.3419 91.9414 31.4254C92.3735 31.4863 92.842 31.368 93.3393 31.0778C93.7679 30.8227 94.191 30.5147 94.5913 30.2135C94.753 30.0915 94.9147 29.9696 95.0836 29.8554C95.8217 29.3258 96.1907 29.061 96.5558 29.1119C96.9953 29.1731 97.1747 29.5932 97.56 30.5248C97.8699 31.2656 98.4362 31.7525 99.1142 31.8449C99.6507 31.9171 100.226 31.7351 100.735 31.3325C100.851 31.2389 100.975 31.1306 101.091 31.0146C101.471 30.6599 101.866 30.2983 102.331 30.2776C102.383 30.2795 102.428 30.2812 102.481 30.2831C102.831 30.3335 103.15 30.6083 103.455 30.8676C103.608 31.001 103.76 31.1269 103.906 31.23C104.309 31.4853 104.551 31.607 104.737 31.6363C104.953 31.6668 105.144 31.5685 105.579 30.9451L105.721 30.7397C106.005 30.3364 106.305 29.9112 106.508 29.4749C107.509 27.2853 109.137 25.5698 110.71 23.905L111.13 23.4616C111.294 23.2871 111.522 23.1901 111.72 23.1071C111.796 23.0723 111.88 23.0377 111.948 23.0026L112.376 22.7776L112.358 23.2582C112.355 23.3483 112.367 23.439 112.371 23.5369C112.385 23.7706 112.397 24.0418 112.298 24.2863C111.912 25.2273 111.511 26.1603 111.117 27.101C110.716 28.0415 110.315 28.9745 109.929 29.923C109.707 30.4564 109.592 30.9485 109.576 31.3766C109.557 31.8948 110.409 32.7832 111.057 32.867C111.566 32.8781 111.681 32.5965 111.881 32.0247C111.915 31.9282 111.949 31.8241 111.99 31.7278L112.263 31.0158C113.238 28.502 114.238 25.9063 115.348 23.4048C115.78 22.4279 115.935 21.4785 115.839 20.4071L115.893 20.3714ZM91.8991 28.0697C92.5239 27.363 93.106 26.5946 93.8238 26.0041C95.4371 24.6792 97.1218 23.4471 98.7776 22.1839C98.8856 22.0976 99.0437 22.0733 99.1872 22.0409C99.2021 22.0414 99.2493 22.1861 99.2836 22.27C99.2042 22.395 99.1464 22.5433 99.0526 22.6527C98.2321 23.5929 97.5044 24.6568 96.5623 25.4422C95.2337 26.5594 93.7477 27.4754 92.3119 28.4533C92.189 28.5391 91.9668 28.4708 91.7943 28.4795C91.8294 28.3379 91.8135 28.1569 91.8991 28.0697ZM85.4367 7.76199C84.9242 9.49557 84.1286 10.9857 83.0191 12.2538C81.4412 14.0463 79.7545 15.7446 78.0897 17.4587C77.8095 17.7493 77.4058 17.9376 77.0323 18.1195C76.5901 18.3365 76.1199 18.4999 75.6639 18.6863C75.8465 18.1966 75.9631 17.6669 76.2191 17.2175C76.6351 16.4881 77.146 15.8224 77.5985 15.1169C78.3763 13.9119 79.2055 12.7314 79.8879 11.4703C80.9238 9.55274 82.5857 8.32735 84.3203 7.16477C84.5277 7.02192 84.8589 6.97384 85.127 7.0137C85.1793 7.01561 85.2237 7.03226 85.2683 7.04141C85.3943 7.07609 85.3914 7.56481 85.4367 7.76199ZM66.1763 34.1107C65.9899 34.0888 65.7982 34.0066 65.6046 33.977C65.6499 33.7606 65.6443 33.5047 65.7555 33.3283C67.2329 31.0057 68.725 28.6911 70.224 26.3919C70.4144 26.098 70.6721 25.8066 70.9631 25.6292C73.4666 24.1186 75.859 22.3709 78.8548 21.9387C79.2688 21.8786 79.682 21.841 80.0054 21.8001C80.0652 21.8023 80.125 21.8045 80.1774 21.8064C80.7213 21.8789 80.8655 22.2376 80.6787 22.6369C80.1679 23.7087 79.7139 24.8654 78.9627 25.7555C77.4134 27.5866 75.5618 29.0833 73.5223 30.3927C71.6053 31.6314 69.5987 32.6562 67.5563 33.6346C67.1828 33.8165 66.8013 34.0131 66.4011 34.1038C66.3255 34.1236 66.2433 34.1206 66.1613 34.1101L66.1763 34.1107Z" fill="currentColor"/>
    <path d="M135.741 28.8036C135.547 28.774 135.315 28.773 135.037 28.8005C134.939 28.812 134.857 28.809 134.783 28.7912C134.463 28.7494 134.456 28.5161 134.566 28.1741C134.912 27.0888 135.318 26.0206 135.591 24.9176C135.792 24.1202 135.92 23.2751 135.89 22.4618C135.827 20.8952 135.646 20.3321 134.617 20.1893C134.334 20.1489 133.99 20.1439 133.571 20.1511C133.473 20.1476 133.384 20.1443 133.309 20.1416C132.914 20.0896 132.885 19.8479 133.156 19.414C133.315 19.1641 133.452 18.8909 133.603 18.6332C134.883 16.4012 136.155 14.1613 137.442 11.9371C137.777 11.3552 138.06 10.8015 137.794 10.0773C137.543 9.37628 137.299 8.6755 136.48 8.53284C136.465 8.5323 136.45 8.53175 136.428 8.53093C135.616 8.4186 135.423 9.19369 135.09 9.70797C133.287 12.5301 131.492 15.36 129.711 18.1979C129.337 18.801 129.043 19.4596 128.728 20.1024C128.356 20.8559 128.036 21.6339 127.635 22.3638C126.367 24.6715 125.071 26.963 123.796 29.2705C122.995 30.7152 123.21 31.5804 124.488 32.4768C124.685 32.6194 124.877 32.7016 125.063 32.7309C125.309 32.7625 125.543 32.6883 125.776 32.4712C126.078 32.1889 126.33 31.8446 126.604 31.5312C127.855 30.0878 129.091 28.6213 130.378 27.2092C130.753 26.7942 131.301 26.536 131.77 26.2071C131.779 26.779 131.781 27.3506 131.79 27.9225C131.737 27.9206 131.685 27.9187 131.633 27.9168C131.58 28.7496 131.482 29.5883 131.474 30.4228C131.464 31.716 132.22 32.5482 133.317 33.047C133.443 33.1042 133.598 33.1475 133.762 33.1685C134.083 33.2103 134.428 33.1777 134.65 33.043C135.707 32.4046 136.437 31.4762 136.545 30.1715C136.614 29.2942 136.405 28.8729 135.719 28.7802L135.741 28.8036Z" fill="currentColor"/>
    <path d="M155.915 29.5459C155.83 29.4224 155.623 29.3472 155.399 29.324C155.25 29.3035 155.1 29.3056 154.98 29.3237C153.158 29.6032 151.354 29.9962 149.533 30.2306C148.375 30.3764 147.204 30.4615 146.042 30.2988C145.61 30.2379 145.171 30.1467 144.742 30.0108C144.165 29.8243 143.997 29.5023 144.287 28.9263C144.9 27.7303 146 27.1312 147.114 26.5476C148.114 26.0201 149.136 25.5309 150.122 24.9727C151.452 24.2241 152.167 23.092 151.73 21.5419C151.551 20.8961 151.063 20.3218 150.664 19.7583C150.429 19.4338 150.188 19.2596 149.883 19.2184C149.637 19.1868 149.35 19.2366 149.001 19.3667C147.089 20.0566 145.781 21.4377 144.632 22.9526C143.649 24.2479 142.507 25.1839 141.004 25.7307C140.564 25.8876 140.121 26.1347 139.787 26.4609C138.996 27.2217 139.074 27.9465 139.877 28.7354C140.289 29.1414 140.767 29.5725 140.951 30.0831C141.781 32.3695 143.463 33.4686 145.673 33.8425C148.33 34.0598 150.877 33.8218 153.379 33.1835C155.412 32.6635 155.444 32.6045 156.099 30.6656C156.208 30.3387 156.107 29.8311 155.908 29.5456L155.915 29.5459Z" fill="currentColor"/>
    <path d="M124.212 23.2166C124.715 23.1823 125.155 23.0254 125.244 22.427C125.417 21.1924 124.644 20.2016 123.512 20.04C123.311 20.0101 123.101 20.01 122.883 20.0396C121.612 20.1963 120.407 20.5961 119.497 21.518C118.277 22.7444 117.093 24.0098 116.003 25.3538C115.172 26.3839 114.714 27.6457 114.56 28.9862C114.391 30.5293 115.49 31.8253 116.883 32.019C117.233 32.0693 117.601 32.0451 117.972 31.9383C121.255 31.0127 122.15 29.0449 122.61 25.8731C122.631 25.7159 122.553 25.3972 122.508 25.388C122.299 25.3804 122.044 25.3861 121.875 25.5003C120.715 26.3078 119.569 27.1459 118.416 27.9687C118.441 27.6914 118.4 27.3665 118.542 27.1837C120.026 25.29 121.518 23.3966 124.205 23.2163L124.212 23.2166Z" fill="currentColor"/>
    </g>
    <defs>
    <clipPath id="clip0_382_10124">
    <rect width="155.622" height="38.2462" fill="currentColor" transform="translate(1.51758 0.324219) rotate(2.08849)"/>
    </clipPath>
    </defs>
    </svg>
  </span>
      {% comment %} {{- icon | image_url: width: 247.11 | image_tag: width: 247.11, height: 60.73, loading: 'lazy', class: 'hidden lg:inline-block mt-[-4rem]' -}}
      {{- icon | image_url: width: 155.62 | image_tag: width: 155.62, height: 38.25, loading: 'lazy', class: 'inline-block lg:hidden mt-[-2.5rem]' -}} {% endcomment %}
  {% endcapture %}
{%- if icon != blank and title contains '%icon%' %}
  {% assign title = title | replace: '%icon%', inline_icon %}
{% endif %}

{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
    --bg-image: url('{{ mobile_image | image_url: width: '1024' }}');
  }
{%- endstyle -%}

<div class="subscription-info section-padding color-{{ section.settings.color_scheme }}{% unless mobile_image == blank%} bg-[image:var(--bg-image)] bg-no-repeat bg-cover lg:bg-none{% endunless %}">
  <div class="container px-0 xl:px-0">
    <div class="col-span-4 hidden lg:block">
      {%- if image != blank -%}
        {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
        {%- capture sizes -%}
              (min-width: 1440px) {{ 1440 | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 20px) / 2), calc((100vw -20px) / 2)
            {%- endcapture -%}
        {{ image | image_url: width: 1920 | image_tag: loading: 'lazy', sizes: sizes, widths: widths }}
      {%- else -%}
        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg max-w-full' }}
      {%- endif -%}
    </div>
    <div class="col-span-full max-w-[70.8rem] mx-auto flex flex-col gap-2 justify-center items-center py-9 px-2 lg:gap-4 lg:py-2 lg:px-0 lg:col-span-6">
      {%- if title != blank -%}
        <h2 class="text-[2.2rem] leading-[2.6rem] lg:text-[4.2rem] lg:leading-[4.6rem] -tracking-[.02em] text-center uppercase m-0">
          {{ title }}
        </h2>
      {%- endif -%}
      {%- if section.blocks.size > 0 -%}
        <div class="grid grid-flow-row auto-rows-fr gap-3 lg:grid-flow-col lg:auto-cols-fr lg:gap-0 lg:rounded-none lg:divide-x">
          {%- for block in section.blocks -%}
            {%- liquid
              assign title = block.settings.title
              assign text = block.settings.text
            -%}
            <div class="flex flex-col items-center justify-center gap-1 text-[rgb(var(--color-background))] bg-[rgb(var(--color-foreground))] rounded-2xl p-[3rem] max-w-[24.5rem] lg:text-inherit lg:bg-transparent mx-auto lg:py-0 lg:px-2 lg:rounded-none">
              {%- if title != blank -%}
                <h3 class="text-center text-3xl -tracking-[.02em] m-0">{{ title }}</h3>
              {%- endif -%}
              {%- if text != blank -%}
                <p class="font-serif text-center text-sm lg:text-base -tracking-[.05em] m-0">{{ text }}</p>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
      {%- if btn != blank or btn_mobile != blank -%}
        <div class="flex flex-column justify-center items-center mt-4 lg:mt-0">
          {%- if btn != blank -%}
            {%- render 'btn-link',
              text: btn,
              url: url,
              class: ' flex-col hidden lg:flex justify-center items-center'
            -%}
          {%- endif -%}
          {%- if btn_mobile != blank -%}
            <a src="{{ url }}" class="btn btn-primary lg:hidden">{{ btn_mobile | default: btn }}</a>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Subscription info",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 3,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Join %icon% for a monthly  subscription, full of hand-selected wines and spirits."
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "btn",
      "label": "Button text",
      "default": "Click through to see all our subscriptions on offer"
    },
    {
      "type": "text",
      "id": "btn_mobile",
      "label": "Button text(Mobile)",
      "default": "SEE ALL SUBSCRIPTIONS"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Url"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-2"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_desktop",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Info",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "02"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Two bottles of hand-selected spirits delivered to your door every month."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Subscription info",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
